<template name="host">
  <div class="container-fluid">
    <hr class="extra-space-top no-line">
    <h2>Host your own Simulcast</h2>
    <p>Hosting your own viewing party can be really fun and entertaining for you and your guests. Fill in this simple form and we will contact you to arrange a welcome pack.</p>
    <hr class="extra-space-top no-line">
    <div class="row">
      <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/23z4lZawiQc?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-5">
        <h4>Download the official guide</h4>
        <p>We've put together a kit which you can use to make your Simulcast a total success.</p>
        <div class="download-tile">
          <div class="row">
            <div class="col-md-8">
              TEDxCT 2015 Simulcast Guide
            </div>
            <div class="col-md-4">
              <i class="icon-link"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="{{pathFor route='hostDetails'}}" class="btn btn-primary">I'm ready</a>
  </div>
</template>

<template name="hostDetails">
  <div class="container-fluid">
    <hr class="extra-space-top no-line">
    <h2>Host your own Simulcast</h2>
    <p>Hosting your own viewing party can be really fun and entertaining for you and your guests. Fill in this simple form and we will contact you to arrange a welcome pack.</p>
    <hr class="extra-space-top no-line">
    <form>
      <h4><i class="icon-ticket-1"></i> Party details</h4>
      <div class="form-group">
        <label for="partyName">Party name</label>
        <input type="text" class="form-control partyName" placeholder="Party name..." value="{{party.title}}">
        <span class="help-block">Give your party an descriptive name (E.g ThoughtWorks hosts TEDxCT 2015)</span>
      </div>
      <div class="form-group">
        <label for="partyDescription">Party description</label>
        <textarea class="form-control partyDescription">{{party.description}}</textarea>
        <span class="help-block">Give a quick description of your event.</span>
      </div>
      <div class="form-group">
        <label for="entryFee">Entry fee</label>
        <input type="text" class="form-control entryFee" placeholder="Entry fee..." value="{{party.entry}}">
        <span class="help-block">Should your guests bring something? (E.g. R50 or a pizza)</span>
      </div>
      <div class="form-group">
        <label for="whoCanCome">Who can come?</label>
        <div class="privatePublicSwitch" id="privateSwitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox private" id="private" checked={{checked party.privateParty}}>
          <label class="onoffswitch-label" for="private">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
        <span class="help-block">Share your event with everyone or just invite your friends.</span>
      </div>
      <hr class="dashed">
      <h4><i class="icon-profile-id"></i> Contact details</h4>
      <p>We take your privacy very seriously. Your contact information will only be shared when you explicitly allow us to. Even then it will only be shared in the forum of your simulcast an we will not access it for any other reason unless otherwise specified by you.</p>
      <div class="form-group">
        <label for="fullName">Your full name</label>
        <input type="text" class="form-control fullName" placeholder="First & last name..." value="{{party.fullName}}">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control phoneNumber" placeholder="Phone number..." value="{{party.phone}}">
          </div>
          <div class="col-md-6">
            <label for="phoneIsShared">Share your number</label>
            <div class="privatePublicSwitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox showPhone" id="phoneIsShared" checked="{{this.phoneIsShared}}">
              <label class="onoffswitch-label" for="phoneIsShared">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <span class="help-block">Should we share your phone number with your guests?</span>
          </div>
        </div>
        <hr class="dashed">
        <div class="row">
          <div class="col-md-6">
            <label for="emailAddress">Email address</label>
            <input type="text" class="form-control emailAddress" placeholder="Email address..." value="{{party.email}}">
          </div>
          <div class="col-md-6">
            <label for="descriptionText">Share your email</label>
            <div class="privatePublicSwitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox showEmail" id="emailIsShared" checked="{{this.emailIsShared}}">
              <label class="onoffswitch-label" for="emailIsShared">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <span class="help-block">Should we share your email with your guests?</span>
          </div>
        </div>
      </div>
      <hr class="dashed">
      <a href="{{pathFor route='hostlocation'}}" class="btn btn-primary noLink">NEXT: Choose a location</a>
    </form>
  </div>
</template>

<template name="hostLocation">
  <div class="container-fluid">
  <form>
    <h4>Venue details</h4>
    <div class="form-group">
      <label for="search">Search address or place</label>
      <div class="row">
        <div class="col-md-10">
          <input type="text" class="search" placeholder="Search for a place..." id="autocomplete">
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-icon submit-search">
            Search <i class="icon-magnifier"></i>
          </div>
        </div>
      </div>
        <span class="help-block">Please ensure your location is correct.</span>
    </div>
  <div class="map-container">
    {{> googleMap name="simulcastMap" options=simulcastMapOptions}}
  </div>
  <hr class="dashed">
  <a href="{{pathFor route='hostDetails'}}" class="btn btn-secondary noLink">Back</a>
  <button class="btn btn-primary save">Complete signup</button>
  </form>
</div>
</template>

<template name="hosted">
  <div class="container-fluid">
      <div class="pageHeader">
        <div class="back-button back">
          <a href="{{pathFor route='live'}}" class="noLink">
            <i class="icon-thumbnails-1"></i>
            <span class="text">
              Back to map
            </span>
          </a>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <h1>{{this.title}}</h1>
    <p>hosted by {{this.fullName}}</p>
    <p>{{this.description}}</p>
    <h3>Entry</h3>
    <p>{{this.entry}}</p>
    <h3>Contact information</h3>
    {{#if currentUser}}
      {{#if phone}}
        <h4>Phone number</h4>
        <p>{{this.phone}}</p>
      {{/if}}
      {{#if email}}
        <h4>Email</h4>
        <p>{{this.email}}</p>
      {{/if}}
    {{else}}
      <a href="/register/?nextPage=live/host/{{this._id}}" class="seeContactInfo"><i class="icon-lock-2"></i> Sign up / login to view</a>
    {{/if}}
    <h3>Given location</h3>
    {{this.givenAddress}}
    <h3>Map</h3>
    <a class="btn btn-primary" href="https://www.google.com/maps/preview/@{{this.location.A}},{{this.location.F}},16z">See on Google Maps</a>
    <div class="map-container">
      {{> googleMap name="singlePartyMap" options=singlePartyMapOptions}}
    </div>
  </div>
</template>
