<template name="watchTalks">
    {{> talks this}}
</template>

<template name="live">
  <div class="container-fluid red centered">
    <hr class="no-line extra-space-top">
    <h3>Watch TEDxCapeTown Live</h3>
    <p>Watch the whole event live from your home or viewing party location. Engage in the conversation on Twitter.</p>
    <hr class="no-line extra-space-top">
    <a href="{{pathFor route='stream'}}" class="btn btn-outline">View the live stream</a>
    <hr class="no-line">
  </div>
  <div class="container-fluid fixed centered">
    <h3>Host a viewing party</h3>
    <h4>Share the TEDx experience with your friends, family and your community.</h4>
    <hr class="no-line extra-space-top">
    <a href="{{pathFor route='host'}}" class="btn btn-primary">Host your own viewing party</a>
    <hr class="no-line">
    <p>Learn more and then enter your details to get started.</p>
    <hr class="no-line extra-space-top">
  </div>

  <div class="container-fluid">
    <h3><i class="icon-map-pin padded padded-right"></i> Find a live stream simulcast in your city</h3>
    <p>The TEDx community around the world host viewing parties in their homes, offices and public spaces.</p>
    <p>Join in to not only watch the event live but also meet the amazing people in your community.</p>
    <div class="map-actions">
      <div class="row">
        <div class="col-md-10">
          <input type="text" class="search" placeholder="Search for a place..." id="autocomplete">
        </div>
        <div class="col-md-2">
          <div class="btn submit-search btn-primary">
            <i class="icon-magnifier"></i> Search
          </div>
        </div>
      </div>
    </div>
    <hr class="no-line">
    <div class="map-container">
      {{> googleMap name="simulcastMap" options=simulcastMapOptions}}
    </div>
  </div>
  <div class="container-fluid centered">
    <h4>Our live stream partners</h4>
    <a href="http://www.antfarm.co.za/" target="_blank"><img src="/images/logos/antfarmlogo.jpg" width="300px"></a>
    <a href="https://www.accenture.com" target="_blank"><img src="/images/logos/Accenture_logo.jpeg" width="190px"></a>
  </div>

  <div class="container-fluid">
  <hr class="dashed">
  <a href="/sponsors"><h3>Sponsors</h3></a>
    {{> sponsors}}
  </div>
</template>
<template name="stream">
  <div class="container-fluid fixed red centered">
    <h3>Watch TEDxCapeTown Live</h3>
    <h4>Watch online here or <a href="{{pathFor route='live'}}" class="link">find a viewing party</a> near you.</h4>
    <hr class="no-line extra-space-top">
  </div>
  <iframe src="http://results.antfarm.co.za/tedxcpt/August_2015_01" name="" class="liveStreamFrame"> Sorry your browser does not support frames or is currently not set to accept them.</iframe>
  <div class="container-fluid centered">
    <h4>Our live stream partners</h4>
    <a href="http://www.antfarm.co.za/" target="_blank"><img src="/images/logos/antfarmlogo.jpg" width="300px"></a>
    <a href="http://www.comtel.co.za/" target="_blank"><img src="/images/logos/comtel_logo.png" width="190px"></a>
  </div>

  <hr class="no-line extra-space-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/tedxcapetown" data-widget-id="632432274349391872">Tweets by @tedxcapetown</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/tedx" data-widget-id="632434306678435840">#tedx Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <hr class="dashed">
  <a href="/sponsors"><h3>Sponsors</h3></a>
    {{> sponsors}}
  </div>
  <div class="container-fluid fixed red centered">
    <hr class="no-line extra-space-top">
    <h3>More details about the event, line up & speakers</h3>
    <p>The balance between freedom and control is a constant tug of war. In all areas of our lives - personal and professional, spiritual and practical, as individuals and as groups - we experience an ongoing tussle regarding whether and where boundaries should be drawn.</p>
    <h4><a href="{{pathFor route='posts.show.event' _id='wELwWASoZkneCjj6E'}}" class='btn btn-outline'>Go to the event details page</a></h4>
    <hr class="no-line">
  </div>
</template>
