<template name="watch">
    {{> talks this}}
</template>

<template name="live">
  <div class="container-fluid red centered">
    <h3>Watch TEDxCapeTown Live</h3>
    <h4>Watch online here on event day or find a party close by.</h4>
    <hr class="no-line extra-space-top">
    <a href="{{pathFor route='host'}}" class="btn btn-outline">Host your own viewing party</a>
    <hr class="no-line">
    <p>Learn more and then enter your details to get started.</p>
    <hr class="no-line extra-space-top">
  </div>
  <img class="full-width" src="/images/banners/watch2015.jpg">
  <div class="container-fluid">
    <h3>Find a live stream simulcast in your city</h3>
    <p>The TEDx community around the world host viewing parties in their homes, offices and public spaces.</p>
    <p>Join in to not only watch the event live but also meet the amazing people in your community.</p>
    <div class="map-actions">
      <div class="row">
        <div class="col-md-10">
          <input type="text" class="search" placeholder="Search for a place..." id="autocomplete">
        </div>
        <div class="col-md-2">
          <div class="btn submit-search btn-primary">
            <i class="icon-magnifier"></i> Search
          </div>
        </div>
      </div>
    </div>
    <hr class="no-line">
    <div class="map-container">
    {{> googleMap name="simulcastMap" options=simulcastMapOptions}}
  </div>
  <hr class="dashed">
  <a href="/sponsors"><h3>Sponsors</h3></a>
    {{> sponsors}}
  </div>  
</template>
