<template name="allSponsors">
<div class="container-fluid centered">
  <h1>Headline Sponsors 2015</h1>
    {{#each headlineSponsors}}
      <div class="row">
        <div class="col-md-12 col-xs-18">
          <div class="headline_sponsor_tile">
            <h4 class="sponsor-type">{{this.type}}</h4>
            <a href="/sponsors/show/{{this._id}}">
              <img src="{{this.imageURL}}" alt="{{this.name}}">
            </a>
          </div>
        </div>
      </div>
    {{/each}}
    <br/>
    <h1>Sponsors 2015</h1>
      <div class="row">
        {{#each sponsors}}
            <div class="col-md-4 col-xs-6">
              <div class="sponsor_tile">
                <h4 class="sponsor-type">{{this.type}}</h4>
                <a href="/sponsors/show/{{this._id}}">
                  <img src="{{this.imageURL}}" alt="{{this.name}}">
                </a>
              </div>
            </div>
        {{/each}}
      </div>
      <br/>
      <h1>Previous Sponsors</h1>
      <div class="row">
        {{#each previousSponsors}}
            <div class="col-md-4 col-xs-6">
              <div class="sponsor_tile">
                <h4 class="sponsor-type">{{this.type}}</h4>
                <a href="/sponsors/show/{{this._id}}">
                  <img src="{{this.imageURL}}" alt="{{this.name}}">
                </a>
              </div>
            </div>
        {{/each}}
      </div>
</div>
</template>
