<template name="sponsors">
  <div id="owl-demo">
    {{#each sponsors}}
      <div class="item">
        <a href="/sponsors/show/{{this._id}}">
          <img src="{{this.imageURL}}" alt="{{this.name}}">
          <h4>{{this.name}}</h4>
        </a>
      </div>
    {{/each}}
  </div>
</template>


<template name="showSponsor">
  <!-- <div class="container-fluid">
    <h1>{{this.name}}</h1>
    <img src="{{this.imageURL}}" href="{{this.imageURL}}">
    <p>{{this.description}}</p>
  </div> -->
  <article class="talk__content content__item content__item--show animated fadeIn">
    <!-- <div class="back-button back">
      <a href="{{pathFor route='watch'}}" class="noLink">
        <i class="icon-thumbnails-1"></i>
        <span class="text">
          Back to talks
        </span>
      </a>
    </div> -->
    {{#if currentUser}}
    <ul class="toolbar">
      <li>
        <a href="{{pathFor route='sponsors.edit' data=sponsor}}" class="edit">
          <i class="icon-pencil-2"></i>
          Edit
        </a>
      </li>
      <li>
        <a href="#" class="delete">
          <i class="icon-bin-2"></i>
          Delete
        </a>
      </li>
    </ul>
    {{/if}}
    <h1 class="tile-title">TEDxCapeTown is sponsored by</h1>
    <h2 class="tile-title title--full">{{this.name}}</h2>
    <div class="meta meta--full">
      <!-- <img class="meta__avatar" src="img/authors/1.png" alt="author01" /> -->
      <!-- <span class="meta__author">{{this.speaker.name}}</span> -->
    </div>
    <hr class="space extra-space-top">
    <!-- <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/{{this.videoId}}?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
        <!-- <div text-align="center"> -->
        <div class="row text-center">
          <img class="center-align" src="{{this.imageURL}}" href="{{this.imageURL}}">
        </div>
        <!-- </div> -->
    <hr class="space">
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Facebook.png"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&text=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&via=tedxcapetown" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Twitter.png"></a></li>
      <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Google+.png"></a></li>
      <li><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/Pinterest.png"></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&title=&summary=&source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/LinkedIn.png"></a></li>
      <li><a href="mailto:?subject=&body=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Email.png"></a></li>
    </ul>
    <hr class="space extra-space-top">
    <hr class="dashed">
    {{#markdown}}{{this.description}}{{/markdown}}
  </article>
</template>

<template name="newSponsor2">
  <div class="container-fluid">
    <h1>Add a Sponsor</h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="nameText">Name</label>
        <input type="text" class="form-control nameText" placeholder="Sponsor name...">
      </div>
      <div class="form-group">
        <label for="websiteURL">Website URL</label>
        <input type="text" class="form-control websiteURL" placeholder="Website URL...">
      </div>
      <div class="form-group">
        <label for="descriptionText">Sponsor Description</label>
        <textarea class="form-control descriptionText"></textarea>
      </div>
      <div class="form-group">
        <label for="sponsorLogo">Sponsor Logo</label>
          <img src="images/default/image.png" class="full-width upload" id="imageUpload">
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Sponsor?</label>
        <p>Published sponsors will appear in the "home" screen</p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>

      <hr class="dashed">
      <button type="button" class="btn btn-primary save_sponsor">Save</button>
    </form>
  </div>
</template>
