<template name="sponsors">
  <div id="owl-demo">
    {{#each sponsors}}
      <div class="item">
        <a href="/sponsors/show/{{this._id}}">
          <img src="{{this.imageURL}}" alt="{{this.name}}">
        </a>
      </div>
    {{/each}}
  </div>
</template>

<template name="showSponsor">
  <div class="container-fluid">
  <article class="talk__content content__item content__item--show animated fadeIn">
    <div class="back-button back">
      <a href="\sponsors" class="noLink">
        <i class="icon-thumbnails-1"></i>
        <span class="text">
          Back to sponsors
        </span>
      </a>
    </div>
    {{#if userIsInRole 'member'}}
    <ul class="toolbar">
      <li>
        <a href="{{pathFor route='sponsors.edit' data=sponsor}}" class="edit">
          <i class="icon-pencil-2"></i>
          Edit
        </a>
      </li>
      <li>
        <a href="#" class="delete">
          <i class="icon-bin-2"></i>
          Delete
        </a>
      </li>
    </ul>
    {{/if}}
    <h2 class="tile-title title--full">{{this.name}}</h2>
    <h4 class="sponsor-type">{{this.type}}</h4>
    <span>
      <h4 class="sponsor-type">
      {{#each this.years}}
          {{this}}
      {{/each}}
      </h4>
    </span>
    <div class="meta meta--full">
    </div>
    <hr class="space extra-space-top">
        <div class="row text-center">
          <img style="max-width:60%; max-height:300px" src="{{this.imageURL}}" href="{{this.imageURL}}">
        </div>
    <hr class="space extra-space-top">
    <h1 class="text-center"><a href="{{this.webURL}}">{{this.webURL}}</a></h1>
    <hr class="dashed">
    {{#markdown}}{{this.description}}{{/markdown}}
  </article>
</div>
</template>

<template name="newSponsor2">
  <div class="container-fluid">
    <h1>Add a Sponsor</h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="nameText">Name</label>
        <input type="text" class="form-control nameText" placeholder="Sponsor name...">
      </div>
      <div class="form-group">
        <label for="typeText">Type</label>
        <input type="text" class="form-control typeText" placeholder="e.g. Communication partner">
      </div>
      <div class="form-group">
        <label for="prioritySelect">Priority</label>
        <select class="prioritySelect" id="prioritySelect">
        {{#each numberOfSponsors}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label><input type="checkbox" id="isHeadlineSponsor"> Is this a headline sponsor?</label>
      </div>
      <div class="form-group">
        <label for="typeText">Years</label>
        <ul class="unstyled list-unstyled">
          <li><label><input type="checkbox" name="year" value="2010"> 2010</label></li>
          <li><label><input type="checkbox" name="year" value="2011"> 2011</label></li>
          <li><label><input type="checkbox" name="year" value="2012"> 2012</label></li>
          <li><label><input type="checkbox" name="year" value="2013"> 2013</label></li>
          <li><label><input type="checkbox" name="year" value="2014"> 2014</label></li>
          <li><label><input type="checkbox" name="year" value="2015"> 2015</label></li>
        </ul>
      </div>
      <div class="form-group">
        <label for="websiteURL">Website URL</label>
        <input type="text" class="form-control websiteURL" placeholder="Website URL...">
      </div>
      <div class="form-group">
        <label for="descriptionText">Sponsor Description</label>
        <textarea class="form-control descriptionText"></textarea>
      </div>
      <div class="form-group">
            <label>Sponsor Logo</label>
            <p>Add a web URL or tap the icon to upload from disk</p>
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control logoURL" placeholder="Url...">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-secondary btn-upload-from-web">Add</button>
              </div>
            </div>
            <br/>
            <img src="images/default/image.png" style="max-width:100%" class="upload" id="imageUpload">
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Sponsor?</label>
        <p>Published sponsors will appear in the "home" screen</p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-primary save_sponsor">Save</button>
    </form>
  </div>
</template>

<template name="editSponsor">
  <div class="container-fluid">
    <h1>Edit {{this.name}}</h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="nameText">Name</label>
        <input type="text" class="form-control nameText" placeholder="Sponsor name..." value="{{this.name}}">
      </div>
      <div class="form-group">
        <label for="typeText">Type</label>
        <input type="text" class="form-control typeText" placeholder="e.g. Communication partner" value="{{this.type}}">
      </div>
      <div class="form-group">
        <label for="prioritySelect">Priority</label>
        <select class="prioritySelect" id="prioritySelect">
        {{#each numberOfSponsors}}
          <option value="{{this}}" id="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label><input type="checkbox" id="isHeadlineSponsor" checked="{{this.isHeadlineSponsor}}"> Is this a headline sponsor?</label>
      </div>
      <div class="form-group">
        <label for="typeText">Years</label>
        <ul class="unstyled list-unstyled">
          <li><label><input type="checkbox" name="year" value="2010" checked="{{isInYear this.years '2010'}}"> 2010</label></li>
          <li><label><input type="checkbox" name="year" value="2011" checked="{{isInYear this.years '2011'}}"> 2011</label></li>
          <li><label><input type="checkbox" name="year" value="2012" checked="{{isInYear this.years '2012'}}"> 2012</label></li>
          <li><label><input type="checkbox" name="year" value="2013" checked="{{isInYear this.years '2013'}}"> 2013</label></li>
          <li><label><input type="checkbox" name="year" value="2014" checked="{{isInYear this.years '2014'}}"> 2014</label></li>
          <li><label><input type="checkbox" name="year" value="2015" checked="{{isInYear this.years '2015'}}"> 2015</label></li>
        </ul>
      </div>
      <div class="form-group">
        <label for="websiteURL">Website URL</label>
        <input type="text" class="form-control websiteURL" placeholder="Website URL..." value="{{this.webURL}}">
      </div>
      <div class="form-group">
        <label for="descriptionText">Sponsor Description</label>
        <textarea class="form-control descriptionText" value="{{this.description}}"></textarea>
      </div>
      <div class="form-group">
            <label>Sponsor Logo</label>
            <p>Add a web URL or tap the icon to upload from disk</p>
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control logoURL" placeholder="Url..." value="{{this.imageURL}}">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-secondary btn-upload-from-web">Add</button>
              </div>
            </div>
            <br/>
            {{#if this.imageURL}}
              <img src="{{this.imageURL}}" style="max-width:100%" class="upload" id="imageUpload">
            {{else}}
                <img src="images/default/image.png" style="max-width:100%" class="upload" id="imageUpload">
            {{/if}}
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Sponsor?</label>
        <p>Published sponsors will appear in the "home" screen</p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-primary update_sponsor">Update</button>
    </form>
  </div>
</template>
