<Template name="categoryAnalytics">
  <div class="container-fluid">
    <h1>The start of the epic categories analytics</h1>

    <h4>Select one or more industries</h4>
    <ul class="tags-manager tags-layout-grid industry">
      <li class="tag"><input type="checkbox" value="arts"> Arts</li>
      <li class="tag"><input type="checkbox" value="culture"> Culture</li>
      <li class="tag"><input type="checkbox" value="engineering"> Engineering</li>
      <li class="tag"><input type="checkbox" value="education"> Education</li>
      <li class="tag"><input type="checkbox" value="health_care"> Health Care</li>
      <li class="tag"><input type="checkbox" value="sports"> Sports</li>
      <li class="tag"><input type="checkbox" value="financial"> Financial</li>
      <li class="tag"><input type="checkbox" value="travel"> Travel</li>
      <li class="tag"><input type="checkbox" value="public_service"> Public Service</li>
      <li class="tag"><input type="checkbox" value="agriculture"> Agriculture</li>
      <li class="tag"><input type="checkbox" value="advertising"> Advertising</li>
      <li class="tag"><input type="checkbox" value="communication"> Communications</li>
      <li class="tag"><input type="checkbox" value="space_travel"> Space Travel</li>
      <li class="tag"><input type="checkbox" value="legal"> Legal</li>
      <li class="tag"><input type="checkbox" value="manufacturing"> Manufacturing</li>
      <li class="tag"><input type="checkbox" value="retail"> Retail</li>
      <li class="tag"><input type="checkbox" value="automative"> Automotive</li>
      <li class="tag"><input type="checkbox" value="broadcasting_publishing"> Broadcasting/Publishing</li>
      <li class="tag"><input type="checkbox" value="biotechnology"> Biotechnology</li>
      <li class="tag"><input type="checkbox" value="chemical"> Chemical</li>
      <li class="tag"><input type="checkbox" value="technology"> Technology</li>
      <li class="tag"><input type="checkbox" value="real_estate"> Real Estate</li>
      <li class="tag"><input type="checkbox" value="cosmetics"> Cosmetics</li>
      <li class="tag"><input type="checkbox" value="defense"> Defense</li>
      <li class="tag"><input type="checkbox" value="telecommunications"> Telecommunications</li>
      <li class="tag"><input type="checkbox" value="energy"> Energy</li>
      <li class="tag"><input type="checkbox" value="leisure"> Leisure</li>
      <li class="tag"><input type="checkbox" value="entertainment"> Entertainment</li>
      <li class="tag"><input type="checkbox" value="transportation"> Transportation</li>
      <li class="tag"><input type="checkbox" value="research"> Research</li>
      <li class="tag"><input type="checkbox" value="food_and_beverage"> Food & Beverage</li>
    </ul>
    <h4>Level & Subject Analysis</h4>
    <table>
      <tr>
        <th></th>
        <th>Political</th>
        <th>Legal</th>
        <th>Physiological/Biological</th>
        <th>Psychological</th>
        <th>Economic</th>
        <th>Cultural</th>
        <th>Social</th>
        <th>Environmental</th>
        <th>Technological</th>
        <th>Spiritual</th>
      </tr>
      <tr>
        <td>Planetary</td>
        {{#each subjectCols}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Global</td>
        {{#each subjectCols}}
          <td>Things</td>
        {{/each}}
      </tr>
      <tr>
        <td>Continental</td>
      </tr>
      <tr>
        <td>Regional</td>
      </tr>
      <tr>
        <td>National</td>
      </tr>
      <tr>
        <td>Institutional</td>
      </tr>
      <tr>
        <td>Organisational</td>
      </tr>
      <tr>
        <td>Community</td>
      </tr>
      <tr>
        <td>Tribe</td>
      </tr>
      <tr>
        <td>Family</td>
      </tr>
      <tr>
        <td>Group</td>
      </tr>
      <tr>
        <td>Individual</td>
      </tr>
      <tr>
        <td>Cellular</td>
      </tr>
    </table>
  </div>
</Template>
