<template name="manage">
  {{#if currentUser}}
    <div class="container-fluid red toolbar">

        <div class="logout action">
          <i class="icon-tags"></i>
          Log out
        </div>
      <h1 class="pull-left">Logged in as {{username}}
        {{#if userIsVerified}}
          <i class="icon-check-1"></i> Account verified
          {{/if}}
      </h1>
    </div>
  {{/if}}

  <div class="container-fluid centered">
    {{#if userIsVerified}}

    {{else}}
      <h1>You need to verify your email address before you can view this page.</h1>
      <div>
        <button type="button" class="btn btn-primary resendVerificationEmail">Resend verification email</button>
      </div>
    {{/if}}
    {{#if userIsInRole 'admin'}}
    <h4 class="pull-left">You are logged in as a TEDxCT admin.</h4>
      {{> admin}}
    {{else}}
      {{#if userIsInRole 'simulcast'}}
        <h4 class="pull-left">You only have permissions to edit your simulcast event.</h4>
      {{else}}
        {{#if userIsInRole 'speaker'}}
          <h4 class="pull-left">You only have permissions to edit your speaker profile.</h4>
        {{else}}
          {{#if userIsInRole 'member'}}
            <h4 class="pull-left">You are logged in as a TEDxCT member.</h4>
            {{> admin}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}

      <br/>
</div>
</template>

<template name="admin">
  <hr class="no-line extra-space-top">
  <h1>What would you like to do?</h1>
  <div class="row">
      <div class="col-xs-6 col-md-4">
        <a href="{{pathFor route='speakers'}}" class="noLink">
          <div class="manage_tile">
            <i class="icon-profile"></i>
            <div>Manage Speakers</div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="manage_tile">
          <i class="icon-business-chart-2"></i>
          <div><a href="/manage/categories">Analyse Categories</a></div>
          </div>
        </div>
      <div class="col-xs-6 col-md-4">
        <div class="manage_tile new-talk">
          <i class="icon-profile"></i>
          <div>Add Talk</div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a href="{{pathFor route='live'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-television"></i>
              <div>Live Streaming</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="{{pathFor route='sponsors.new'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-organization"></i>
              <div>Add Sponsor</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="{{pathFor route='users'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-organization"></i>
              <div>Manage Users</div>
            </div>
          </a>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">
          <a href="{{pathFor route='team'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-organization"></i>
              <div>Manage Team</div>
            </div>
          </a>
        </div>
    </div>
</template>
