<template name="newTalk">
  <div class="container-fluid">
    <h1>Add a talk</h1>
    <p>Talks form the central attraction of the TEDx Cape Town chapter. Add more talks to build an engaged audience and community.</p>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Talk YouTube URL</label>
        <input type="text" class="form-control email" placeholder="https://www.youtube.com/2ejhdx">
        <span class="help-block">Find your link below the video on YouTube. <a href="Help" class="link">Where is this?</a></span>
      </div>
      <button type="button" class="btn btn-primary login">Import from YouTube</button>
      <p>
        Or, <a href="" class="link">manual entry</a>
      </p>
    </form>
  </div>

</template>
