<template name="newTalk">
  <div class="container-fluid">
    <h1>Add a talk</h1>
    <p>Talks form the central attraction of the TEDx Cape Town chapter. Add more talks to build an engaged audience and community.</p>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="titleText">Talk Title</label>
        <input type="text" class="form-control titleText" placeholder="Talk title...">
      </div>
      <div class="form-group">
        <label for="speakerText">Speaker</label>
        <input type="text" class="form-control speakerText" placeholder="Speaker name...">
      </div>
      <div class="form-group">
        <label for="categoryText">Category</label>
        <input type="text" class="form-control categoryText" placeholder="Category name...">
      </div>
      <div class="form-group">
        <label for="videoId">Talk YouTube URL</label>
        <input type="text" class="form-control videoId" placeholder="Video ID...">
        <span class="help-block">Find the ID in the url for the video on YouTube.</span>
      </div>
      <div class="form-group">
        <label for="descriptionText">Talk Description</label>
        <textarea class="form-control talkDescription"></textarea>
        <span class="help-block">Even a short description aids SEO for this website.</span>
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Talk?</label>
        <p>Published talks will appear in the "watch" section of the website and will be searchable.</p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-primary import">Import from YouTube</button>
    </form>
  </div>
</template>

<template name="editTalk">
  <div class="container-fluid">
      <div class="pageHeader">
        <div class="back-button back">
          <a href="{{pathFor route='talks.show'}}" class="noLink">
            <i class="icon-thumbnails-1"></i>
            <span class="text">
              Back to talk
            </span>
          </a>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <h1>Edit <i>{{this.title}}</i><br /><small> by <i>{{this.speaker.name}}</i></small></h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="titleText">Talk Title</label>
        <input type="text" class="form-control titleText" placeholder="Talk title..." value="{{this.title}}">
      </div>
      <div class="form-group">
        <label for="speakerText">Speaker</label>
        <input type="text" class="form-control speakerText" placeholder="Speaker name..." value="{{this.speaker.name}}">
      </div>
      <div class="form-group">
        <label for="categoryText">Category</label>
        <input type="text" class="form-control categoryText" placeholder="Category name..." value="{{this.category}}">
      </div>
      <div class="form-group">
        <label for="videoId">Talk YouTube ID</label>
        <input type="text" class="form-control videoId" placeholder="Video ID..." value="{{this.videoId}}">
        <span class="help-block">Find the ID in the url for the video on YouTube. <a href="Help" class="link">Where is this?</a></span>
      </div>
      <div class="form-group">
        <label for="descriptionText">Talk Description</label>
        <textarea class="form-control talkDescription">{{this.description}}</textarea>
        <span class="help-block">Even a short description aids SEO for this website.</span>
      </div>
      <div class="form-group">
        <div class="row">
          <div class=".col-xs-12 .col-sm-6 .col-lg-8">
            <label>Contact URLs</label>
            {{#each speakerWebURLs}}
            <div class="row">
              <div class="col-xs-5">
                <input type="text" class="form-control urlTitle_{{this.index}}" placeholder="Title..." value="{{this.title}}">
              </div>
              <div class="col-xs-5">
                <input type="text" class="form-control url_{{this.index}}" placeholder="Url..." value="{{this.url}}">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-secondary delete_url"><i class="icon-close"></i></button>
              </div>
            </div>
            {{/each}}
          </div>
          <br/>
          <div class=".col-xs-12 .col-sm-6 .col-lg-8">
            <button class="btn btn-secondary add_url">Add URL</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="descriptionText">Publish Talk?</label>
        <p>Published talks will appear in the "watch" section of the website and will be searchable.</p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-secondary cancel">Cancel</button>
      <button type="button" class="btn btn-primary update">Update</button>
    </form>
  </div>
</template>

<template name="tagTalk">
  <div class="container-fluid">
      <div class="pageHeader">
        <div class="back-button back">
          <a href="{{pathFor route='talks.show'}}" class="noLink">
            <i class="icon-thumbnails-1"></i>
            <span class="text">
              Back to talk
            </span>
          </a>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <hr class="space extra-space-top">
    <div class="row">
      <div class="col-md-5">
        <iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/{{this.videoId}}?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-5">
        <h1>Tag <i>{{this.title}}</i><br /><small> by <i>{{this.speaker.name}}</i></small></h1>
      </div>
    </div>
    <hr class="extra-space-top dashed">
    <form class="tagForm">
    <h2>Categories</h2>
    <p>Select as many categories as required to add context and meaning to this video. If you need to add a category please contact the meta data team.</p>
    <div class="row stages">
      <div class="col-md-6 stage first-stage">
        <h4>Spatial Level<br><small>Choose a level</small></h4>
        <ul class="tags-manager tags-layout-list level">
          <li class="tag"><input type="checkbox" value="planetary" checked="{{isCategoryChecked 'levels' 'planetary'}}"> Planetary</li>
          <li class="tag"><input type="checkbox" value="global" checked="{{isCategoryChecked 'levels' 'global'}}"> Global</li>
          <li class="tag"><input type="checkbox" value="continental" checked="{{isCategoryChecked 'levels' 'continental'}}"> Continental</li>
          <li class="tag"><input type="checkbox" value="regional" checked="{{isCategoryChecked 'levels' 'regional'}}"> Regional</li>
          <li class="tag"><input type="checkbox" value="national" checked="{{isCategoryChecked 'levels' 'national'}}"> National</li>
          <li class="tag"><input type="checkbox" value="institutional" checked="{{isCategoryChecked 'levels' 'institutional'}}"> Institutional</li>
          <li class="tag"><input type="checkbox" value="organisational" checked="{{isCategoryChecked 'levels' 'organisational'}}"> Organisational (NGO, Private Company, etc)</li>
          <li class="tag"><input type="checkbox" value="community" checked="{{isCategoryChecked 'levels' 'community'}}"> Community</li>
          <li class="tag"><input type="checkbox" value="tribe" checked="{{isCategoryChecked 'levels' 'tribe'}}"> Tribe</li>
          <li class="tag"><input type="checkbox" value="family" checked="{{isCategoryChecked 'levels' 'family'}}"> Family</li>
          <li class="tag"><input type="checkbox" value="group" checked="{{isCategoryChecked 'levels' 'group'}}"> Group</li>
          <li class="tag"><input type="checkbox" value="individual" checked="{{isCategoryChecked 'levels' 'individual'}}"> Individual</li>
          <li class="tag"><input type="checkbox" value="cellular" checked="{{isCategoryChecked 'levels' 'cellular'}}"> Cellular</li>
        </ul>
      </div>
      <div class="col-md-6 last-stage">
        <h4>Subject Level<br><small>Choose a subject</small></h4>
        <ul class="tags-manager tags-layout-list subject">
          <li class="tag"><input type="checkbox" value="political" checked="{{isCategoryChecked 'subjects' 'political'}}"> Political</li>
          <li class="tag"><input type="checkbox" value="legal" checked="{{isCategoryChecked 'subjects' 'legal'}}"> Legal</li>
          <li class="tag"><input type="checkbox" value="physiological_biological" checked="{{isCategoryChecked 'subjects' 'physiological_biological'}}"> Physiological/Biological</li>
          <li class="tag"><input type="checkbox" value="psychological" checked="{{isCategoryChecked 'subjects' 'psychological'}}"> Psychological</li>
          <li class="tag"><input type="checkbox" value="economic" checked="{{isCategoryChecked 'subjects' 'economic'}}"> Economic</li>
          <li class="tag"><input type="checkbox" value="cultural" checked="{{isCategoryChecked 'subjects' 'cultural'}}"> Cultural</li>
          <li class="tag"><input type="checkbox" value="social" checked="{{isCategoryChecked 'subjects' 'social'}}"> Social</li>
          <li class="tag"><input type="checkbox" value="environmental" checked="{{isCategoryChecked 'subjects' 'environmental'}}"> Environmental</li>
          <li class="tag"><input type="checkbox" value="technological" checked="{{isCategoryChecked 'subjects' 'technological'}}"> Technological</li>
          <li class="tag"><input type="checkbox" value="spiritual" checked="{{isCategoryChecked 'subjects' 'spiritual'}}"> Spiritual</li>

        </ul>
      </div>
    </div>
      <h4>Industry</h4>
      <ul class="tags-manager tags-layout-grid industry">
        <li class="tag"><input type="checkbox" value="arts" checked="{{isCategoryChecked 'industries' 'arts'}}"> Arts</li>
        <li class="tag"><input type="checkbox" value="culture" checked="{{isCategoryChecked 'industries' 'culture'}}"> Culture</li>
        <li class="tag"><input type="checkbox" value="engineering" checked="{{isCategoryChecked 'industries' 'engineering'}}"> Engineering</li>
        <li class="tag"><input type="checkbox" value="education" checked="{{isCategoryChecked 'industries' 'education'}}"> Education</li>
        <li class="tag"><input type="checkbox" value="health_care" checked="{{isCategoryChecked 'industries' 'health_care'}}"> Health Care</li>
        <li class="tag"><input type="checkbox" value="sports" checked="{{isCategoryChecked 'industries' 'sports'}}"> Sports</li>
        <li class="tag"><input type="checkbox" value="financial" checked="{{isCategoryChecked 'industries' 'financial'}}"> Financial</li>
        <li class="tag"><input type="checkbox" value="travel" checked="{{isCategoryChecked 'industries' 'travel'}}"> Travel</li>
        <li class="tag"><input type="checkbox" value="public_service" checked="{{isCategoryChecked 'industries' 'public_service'}}"> Public Service</li>
        <li class="tag"><input type="checkbox" value="agriculture" checked="{{isCategoryChecked 'industries' 'agriculture'}}"> Agriculture</li>
        <li class="tag"><input type="checkbox" value="advertising" checked="{{isCategoryChecked 'industries' 'advertising'}}"> Advertising</li>
        <li class="tag"><input type="checkbox" value="communication" checked="{{isCategoryChecked 'industries' 'communication'}}"> Communication</li>
        <li class="tag"><input type="checkbox" value="space_travel" checked="{{isCategoryChecked 'industries' 'space_travel'}}"> Space Travel</li>
        <li class="tag"><input type="checkbox" value="legal" checked="{{isCategoryChecked 'industries' 'legal'}}"> Legal</li>
        <li class="tag"><input type="checkbox" value="manufacturing" checked="{{isCategoryChecked 'industries' 'manufacturing'}}"> Manufacturing</li>
        <li class="tag"><input type="checkbox" value="retail" checked="{{isCategoryChecked 'industries' 'retail'}}"> Retail</li>
        <li class="tag"><input type="checkbox" value="automative" checked="{{isCategoryChecked 'industries' 'automative'}}"> Automotive</li>
        <li class="tag"><input type="checkbox" value="broadcasting_publishing" checked="{{isCategoryChecked 'industries' 'broadcasting_publishing'}}"> Broadcasting/Publishing</li>
        <li class="tag"><input type="checkbox" value="biotechnology" checked="{{isCategoryChecked 'industries' 'biotechnology'}}"> Biotechnology</li>
        <li class="tag"><input type="checkbox" value="chemical" checked="{{isCategoryChecked 'industries' 'chemical'}}"> Chemical</li>
        <li class="tag"><input type="checkbox" value="technology" checked="{{isCategoryChecked 'industries' 'technology'}}"> Technology</li>
        <li class="tag"><input type="checkbox" value="real_estate" checked="{{isCategoryChecked 'industries' 'real_estate'}}"> Real Estate</li>
        <li class="tag"><input type="checkbox" value="cosmetics" checked="{{isCategoryChecked 'industries' 'cosmetics'}}"> Cosmetics</li>
        <li class="tag"><input type="checkbox" value="defense" checked="{{isCategoryChecked 'industries' 'defense'}}"> Defense</li>
        <li class="tag"><input type="checkbox" value="telecommunications" checked="{{isCategoryChecked 'industries' 'telecommunications'}}"> Telecommunications</li>
        <li class="tag"><input type="checkbox" value="energy" checked="{{isCategoryChecked 'industries' 'energy'}}"> Energy</li>
        <li class="tag"><input type="checkbox" value="entertainment" checked="{{isCategoryChecked 'industries' 'entertainment'}}"> Entertainment</li>
        <li class="tag"><input type="checkbox" value="leisure" checked="{{isCategoryChecked 'industries' 'leisure'}}"> Leisure</li>
        <li class="tag"><input type="checkbox" value="transportation" checked="{{isCategoryChecked 'industries' 'transportation'}}"> Transportation</li>
        <li class="tag"><input type="checkbox" value="research" checked="{{isCategoryChecked 'industries' 'research'}}"> Research</li>
        <li class="tag"><input type="checkbox" value="food_and_beverage" checked="{{isCategoryChecked 'industries' 'food_and_beverage'}}"> Food & Beverage</li>
      </ul>
      <!-- <h4>Keywords</h4>
      <ul>
        <li><input type="text" name="keyword1" placeholder="Add keyword..."></li>
        <li><input type="text" name="keyword2" placeholder="Add keyword..."></li>
        <li><input type="text" name="keyword3" placeholder="Add keyword..."></li>
      </ul> -->
      <button type="button" class="btn btn-secondary cancel">Cancel</button>
      <button type="button" class="btn btn-primary update">Update</button>
    </form>
  </div>

</template>
