<template name="talks">
  <!-- <img class="full-width banner animated fadeIn" src="/images/banners/talks.jpg"> -->
  <div class="filters container-fluid dark">
    <input type="text" class="search" placeholder="Search by talk title or speakers name..." value={{searchTerm}}>
    <hr class="no-line">
  </div>
  <div class="container-fluid dark">
    <div id="theGrid" class="main animated fadeIn">
      <section class="grid">
        {{#each getVideos2}}
            {{> talkTile this}}
          {{/each}}
          {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}
      </section>
    </div>
  </div>
</template>

<template name="videos">
  <div id="theGrid" class="main animated fadeIn">
    <section class="grid">
      {{#each this}}
        {{> talkTile this}}
      {{/each}}
      {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}
    </section>
  </div>
</template>

<template name="talkTile">
  <a class="talk-tile animated fadeInUp" href="{{pathFor route='talks.show' data=videoId}}">
  <div class="top" style="background: url(https://img.youtube.com/vi/{{this.videoId}}/0.jpg); background-size: 110%; background-repeat: no-repeat">

  </div>
    <div class="talk-title">{{{this.title}}}</div>
    <div class="talk-speaker">by {{this.speaker.name}}</div>
    <div class="bottom">
      <!-- <span>{{this.speaker.name}}</span> -->
      {{#markdown}}{{description}}{{/markdown}}
    </div>
    <div class="actions">
      <button class="btn"><i class="icon-play"></i> <span>View talk</span></button>
      <!-- <span class="pull-right like"><i class="icon-heart-1-1"></i></span> -->
    </div>
  </a>
</template>

<template name="talk">
  {{#if userIsInRole 'admin'}}
  <div class="container-fluid red toolbar">
    <div class="featured-switch action">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox featured-switch" id="favoriteSwitch" checked="{{this.featured}}">
      <label class="onoffswitch-label" for="favoriteSwitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <a href="{{pathFor route='talks.tag' data=talk}}" class="tag">
      <i class="icon-tags"></i>
      Tag
    </a>
    <a href="{{pathFor route='talks.edit' data=talk}}" class="edit">
      <i class="icon-pencil-2"></i>
      Edit
    </a>
    <a href="#" class="delete danger">
      <i class="icon-bin-2"></i>
      Archive
    </a>
    <h1 class="pull-left">Tools</h1>
  </div>
  {{/if}}
  <div class="container-fluid animated fadeIn">
    <div class="back-button back">
      <a href="{{pathFor route='watch'}}" class="noLink">
        <i class="icon-thumbnails-1"></i>
        <span class="text">
          Back to talks
        </span>
      </a>
    </div>
    <hr class="space extra-space-top">
    <h1 class="tile-title">{{this.title}}</h1>
    <hr class="space extra-space-top">
  </div>
  <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/{{this.videoId}}?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  <div class="container-fluid">
    <hr class="space">
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Facebook.png"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&text=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&via=tedxcapetown" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Twitter.png"></a></li>
      <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Google+.png"></a></li>
      <li><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/Pinterest.png"></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&title=&summary=&source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/LinkedIn.png"></a></li>
      <li><a href="mailto:?subject=&body=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Email.png"></a></li>
    </ul>
    <hr class="space extra-space-top">
    <hr class="dashed">
    <article class="reader">
      {{#markdown}}{{this.description}}{{/markdown}}
    </article>
  </div>
</template>
