.manage_users {
	table {
		text-align: left;
	}
}

.logout {
	margin-bottom: 20px;
}

.manage_tile {
	border: 1px solid #d0021b;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  height: 107px;
  vertical-align: top;
  width: 250px;
	font-size: 20px;
	margin: 15px;

}
