@import 'variables';

.category {
  background: @secondaryColor;
  color: white;
  display: inline-block;
  width: 150px;
  height: 120px;
  padding: 30px 15px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  position: relative;

  .archive {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }
}

.category-form {
  margin-top: 50px;

  .addible.name {
    background: white;
    padding: 10px;
    max-width: 300px;
  }
}
