@import 'variables';

html, body {
	height: 100%;
}

.singlePage {
	background: @secondaryBackgroundColor;
	background-size: cover;
	text-align: center;

	.content {
		background: @primaryBackgroundColor;
		max-width: 1000px;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

.panel {
	box-shadow: none;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.loginButtons {
	position: absolute;
	top: 20px;
	right: 20px;
}

.voteLink {
	cursor: pointer;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 22%, rgba(186,186,186,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(22%, rgba(247,247,247,1)), color-stop(100%, rgba(186,186,186,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 22%, rgba(186,186,186,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 22%, rgba(186,186,186,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 22%, rgba(186,186,186,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 22%, rgba(186,186,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa', GradientType=1 );
	z-index: 0;
}

.page {
	background: white;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	z-index: 1;
	position: relative;
	top: 5vh;
	min-height: 95vh;
	box-shadow: 22px 23px 43px 0px rgba(0,0,0,0.31);
}

.branding {
	display: inline-block;

	img {
		max-width: 180px;
	}
}

.nav-links {
	display: inline-block;
	text-align: center;
	position: absolute;
	right: 10px;
	max-width: 600px;
	margin-left: -150px;
	margin-top: 0px;
	color: white;


	.link {
		cursor: pointer;
		display: inline-block;
		min-width: 30px;
		vertical-align: top;
		text-transform: UPPERCASE;
		padding: 10px 20px;

		a {
			color: white;
		}

		&:hover {
			border-bottom: 1px solid white;
		}

		&:active {
			background: white;
			color: @secondaryColor;
		}


		i {
			font-size: 20px;
		}

		&.profile i {
			margin-right: 20px;
		}
	}
}

.featured-cta {
	background-color: @lightGray;
	cursor: pointer;
	padding: 10px 20px;
	border-bottom: 3px solid @secondaryColor;

	&:hover {
		color: white;
		background-color: @secondaryColor;
	}

	.cta-caret {
		position: relative;
		top: 32px;
	}
}

section {
	position: relative;

	&.padded {
		padding: 30px;
	}

	&.red {
		background: rgba(255,38,0,1);
		background: -moz-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(248,76,46,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(100%, rgba(248,76,46,1)));
		background: -webkit-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(248,76,46,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(248,76,46,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(248,76,46,1) 100%);
		background: linear-gradient(135deg, rgba(255,38,0,1) 0%, rgba(248,76,46,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f84c2e', GradientType=1 );
	}
}

.container-fluid {
	&.centered {
		text-align: center;
	}
	&.red {
		background: linear-gradient(135deg, #ff2600 0%, #f84c2e 100%);
		color: white;

		.link {
			color: inherit;
		}
	}

	&.text-page {
		width: 70%;
	}
}



.banner {
	padding: 20px;

	&.black {
		background: rgba(255,38,0,1);
		background: -moz-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(255,38,0,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(100%, rgba(255,38,0,1)));
		background: -webkit-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(255,38,0,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(255,38,0,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255,38,0,1) 0%, rgba(255,38,0,1) 100%);
		background: linear-gradient(135deg, rgba(255,38,0,1) 0%, rgba(255,38,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#f84c2e', GradientType=1 );
	}
}
