// General styles, e. g. for the body tag
@import 'helpers.less';
@import 'variables.less';
@import 'lib/elements.less';

/* -------------------
    Main Content
   ------------------- */

*{
  transition: all 0.8s ease;
}

html, body {
  height: 100%;
}
body, #main {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #F1F1F1;
}

#main {
  min-height: 100%;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}


.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

/* -------------------
    Footer
   ------------------- */

footer {
  font-size: 14px;

  a {
    color: #A1D4FF;
    text-decoration: none;
    padding-right: 20px;

    &:hover {
        color: @secondaryLinkHoverColor;
    }
  }
}

footer p {
  padding-top: 10px;
  display: inline-block;
  color: #FFDFDA;
}


.background.half {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #D0021B;
  height: 100px;
  width: 100%;
}

.form {
  label {
    display: block;
    text-transform: UPPERCASE;
    font-weight: 500;
    margin-top: 5px;
  }
  input[type="text"] {
    color: #999;
    background: transparent;
    border: 1px solid #f3f3f3;
    font-size: 18px;
    outline: none;
    width: 100%;
    max-width: 340px;
    margin: 5px 0 5px 0;
    padding-left: 5px;

    &:focus {
      border-color: #666;
      color: #666;
    }
  }
}
