@import 'variables';

body {
  font-family: @fontFace;
  font-weight: 300;
  background: #F1F1F1;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

  page {
    display: block;
    padding: 30px 50px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
}

.full-width {
  width: 100%;
}

.align-left {
  text-align: left;
}

.no-space {
  margin: 0px;
}

.vertical-align {
  position: relative;
  top: 45%;
}

#iron-router-progress {
    background-color : @primaryColor;
    box-shadow       : none;
}

.footer {
  background: @lightGray;
  color: @primaryTextColor;
  padding: 50px;
  margin-top: 50px;
  z-index: 0;

  .copyright {
    margin-top: 20px;
    color: @secondaryTextColor;
  }
}


h3 {
  font-weight: 600;
}

.table {
  text-align: left;


}

hr {
  &.extra-space-top {
    margin-top: 40px;
  }

  &.space {
    border: none;
  }

  &.red {
    border-color: @secondaryColor;
  }

  &.dashed {
    border-style: dashed;
  }

  &.no-line {
    border: 0;
  }
}

.link {
  cursor: pointer;
}
