// General styles, e. g. for the body tag
@import 'helpers.less';
@import 'variables.less';
@import 'lib/elements.less';

/* -------------------
    Main Content
   ------------------- */

html, body {
  height: 100%;
}
body, #main {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #0b253e;
}

#main {
  min-height: 100%;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}


.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

/* -------------------
    Footer
   ------------------- */

footer {
  font-size: 14px;

  a {
    color: #428bca;
    text-decoration: none;

    &:hover {
        color: @secondaryLinkHoverColor;
    }
  }
}

footer p {
  padding: 15px;
  display: inline-block;
  color: #ff2b06;
}
