.dropdown {

  &.chapter-nav.open .dropdown-menu {
    min-width: 260px;
    left: -170px;
    background: #f3f3f3;
    padding-bottom: 35px;
    padding-top: 20px;

    li {
      min-height: 20px;
      height: auto;
    }
   li.dropdown-help {
      min-height: 50px;
      height: auto;
      max-height: 300px;
    }
  }
}
