@import 'variables';

.dropdown {

  &.chapter-nav.open .dropdown-menu {
    min-width: 260px;
    left: -170px;
    background: #f3f3f3;
    padding-bottom: 35px;
    padding-top: 20px;

    li {
      min-height: 20px;
      height: auto;
    }
   li.dropdown-help {
      min-height: 50px;
      height: auto;
      max-height: 300px;
    }
  }
}

.toolbar {
  list-style: none;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 10px;
  max-width: 450px;
  color: @darkGray;
  width: 100;
  z-index: 999;

  li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    vertical-align: top;

    &.no-padding {
    	padding: 0;
    }

    a:hover {
      text-decoration: none;
    }
  }
}


.adminMenu {
  background: #50e3c2;
  font-weight: 500;
  font-size: 17px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10000;

  .menuToggle {
    background: @primaryColor;
    color: white;
    padding: 12px 15px 12px 25px;
    width: 200px;

    i {
      position: relative;
      top: 3px;
      padding-right: 6px;

      &.dropDownArrow {
        position: absolute;
        right: 5px;
        top: 15px;
        &:before {
          content: "5";
        }

        &.active {
            &:before {
              content: "6";
            }
        }
      }
    }
  }

  .dropDown {
    background: rgb(80, 227, 194);;
    display: none;
    position: relative;
    min-height: 100px;
    width: 200px;

    ul {
      list-style: none;

      li {
        padding: 10px 0px;
      }
    }

    &.active {
      display: block;
    }
  }

  .tasks {
    background-color: #666;
    color: white;
    font-size: 16px;
    padding: 15px;
    max-width: 200px;

    hr {
      border-color: #7E7E7E;
    }

    ul {
      list-style: none;
      padding-left: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #7E7E7E;

      li {
        padding-top: 10px;
        margin-left: 0px;
        line-height: 19px;
        color: #DBDBDB;
      }
    }
  }
}

.back-button {
  position: relative;
  top: 20px;
  left: 20px;
  color: #666;
  cursor: pointer;
  z-index: 999;

  i {
    font-size: 20px;
  }

  .text {
    position: relative;
    top: -4px;
    padding-bottom: 5px;
  }

  &:hover {
    color: black;
  }
}

.mobile-menu-toggle {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999;
  font-size: 28px;
  color: white;
  cursor: pointer;

  &:hover {
    font-size: 29px;
  }
}

.nav-links {
	display: inline-block;
	text-align: center;
	position: absolute;
	right: 10px;
	max-width: 650px;
	margin-left: -150px;
	margin-top: 0px;
	color: white;
	top: 30px;

	.link {
		cursor: pointer;
		display: inline-block;
		min-width: 30px;
		vertical-align: top;
		text-transform: UPPERCASE;
		padding: 10px 20px;

		a {
			color: white;
		}

		&:hover {
			border-bottom: 1px dashed white;
		}

		&:active {
			background: white;
			color: @secondaryColor;
		}

    &.active {
      border-bottom: 1px solid white;
    }

		i {
			font-size: 20px;
		}

		&.profile i {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
  .old-website-link {
    display: none;
  }

  .mobile-menu-toggle {
    display: inline-block;
    z-index: 1000;
  }

  .nav-links {
    display: none;
    background: @darkGray;
    padding: 50px 20px 20px 20px;
    top: 10px;
    z-index: 999;

    &.visible-mobile {
      display: block;
    }

    .link {
	    display: block;
    }
  }
}
