@import 'variables';

#login-dropdown-list {
  position: absolute;
  top: -1px;
  right: -1px;
  left: auto;
}

.loginButtons {
  position: fixed;
top: 20px;
right: 20px;
z-index: 999;
}

.alert {
  position: absolute;
  top: 0px;
  width: 100%;
  padding-bottom: 0px;
  z-index: 999;
}

a {
  color: @primaryTextColor;
}

input[type="text"], input[type="email"], input[type="password"] {
  box-shadow: none;
}

.help-block.error {
  color: @secondaryColor;
}

.help-block.login-error {
  color: black;
}

.medium-editor-toolbar {
  background: #242424;
}

.videoFrame {
  margin-top: 10px;
  margin-bottom: 10px;
}
