@import 'variables';

.postTypeSelector, .sectionTypeSelector {
  .postType, .sectionType {
    cursor: pointer;
    text-align: center;

    &:hover {
      color: #666;
    }
  }

  i {
    font-size: 28pt;
  }
}

.eventThumbnail {
  max-width: 200px;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  padding:4px;
}

.eventItem {
  background-color: @lightGray;
  // border-width: 1px;
  // border-style: dotted;
  text-align: left;
  margin: 20px;

}
