@import 'variables';

#owl-demo .item{
  margin: 3px;
  padding: 5px;
  background-color: @lightGray;

}
#owl-demo .item a img{
  display: block;
  max-width: 100%;
  width: auto;
  height: 50px;
}

.sponsor-type {
  color: @secondaryColor;
  font-weight: bold;
  text-align: center;
}
