<template name="manageCategories">
  <div class="container-fluid">
    <h1><small><i class="icon-tags"></i></small> Manage Categories</h1>
    {{#each categories}}
      {{> category this}}
    {{/each}}
    <br>
    <div class="category-form">
      <input type="text" placeholder="Category name..." class="animated form-control typeahead addible name" autocomplete="off" spellcheck="off"
    data-source="categorynames" />
      <button class="btn btn-primary add-category">Add</button>
    </div>
  </div>
</template>

<template name="category">
  <div class="category">
    <div class="checkbox-section">
      <input type="checkbox" class="category-selected {{this._id}}" category="{{this._id}}"  />
    </div>
    <div class="label-section">
      {{this.name}}
    </div>
    <!-- Admin -->
    {{#if currentUser}}
      <i class="icon-close archive"></i>
    {{/if}}
  </div>
</template>

<template name="selectedcategory">
  <div class="category">
    <div class="checkbox-section">
      <input type="checkbox" class="category-selected {{this._id}}" category="{{this._id}}" checked="true" />
    </div>
    <div class="label-section">
      {{this.name}}
    </div>
    <!-- Admin -->
    {{#if currentUser}}
    <i class="icon-close archive"></i>
    {{/if}}
  </div>
</template>

<template name="categories">
    <div class="categories">
    {{#each this}}
      {{> category this}}
    {{/each}}
    </div>
</template>
