<template name="talks">
  <!-- <img class="full-width banner animated fadeIn" src="/images/banners/talks.jpg"> -->
  <div class="filters">
    <nav class="animated bounceInDown navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="icon-nav "><a href="/"><i class="icon-filter"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chapter <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-title">TEDxCT Chapters</li>
                <li><a href="{{ pathFor 'categories'}}">Manage categories</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=""><input type="checkbox" class="filter-category"> Women</a></li>
                <li><a href="{{ pathFor 'categories'}}">Technology</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Social <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-title">TEDxCT Chapters</li>
                <li><a href="{{ pathFor 'categories'}}">Manage categories</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li class="favorites"><a href="#feedback"><i class="icon-star"></i> My Favorites</a></li>
            {{/if}}
            <li class="feedback"><a href="#feedback">Share</a></li>

          </ul>
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <div class="container-fluid talks">
    {{> videos allvideos}}
  </div>
</template>
