<template name="videos">
  <div id="theGrid" class="main animated fadeIn">
    <section class="grid">
      {{#each this}}
        {{> talkTile this}}
      {{/each}}
    </section>
  </div>
</template>

<template name="menu">
  <div class="toggle">
    <i class="icon-menu"></i>
  </div>
  <div class="menu">
    <h3>Zoom</h3>
    <button class="zoom small">Small</button>
    <button class="zoom medium">Medium</button>
    <button class="zoom large">Large</button>
  </div>
</template>

<template name="talkTile">
  <a class="talk-tile animated fadeInUp" href="{{pathFor route='talks.show' data=videoId}}">
  <div class="top" style="background: url(https://img.youtube.com/vi/{{this.videoId}}/0.jpg); background-size: 110%; background-repeat: no-repeat">

  </div>
    <div class="talk-title">{{{this.title}}}</div>
    <div class="bottom">
      <!-- <span>{{this.speaker.name}}</span> -->
      {{#markdown}}{{description}}{{/markdown}}
    </div>
    <div class="actions">
      <button class="btn"><i class="icon-play"></i> <span>View talk</span></button>
      <span class="pull-right like"><i class="icon-heart-1-1"></i></span>
    </div>
  </a>
</template>
