<template name="speakers">
  <div class="container-fluid">
  <ul class="toolbar">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
    <h1>Applied</h1>
    {{#each applied}}
      {{> appliedSpeaker this}}
    {{/each}}
    <h1>Nominated</h1>
    {{#each nominated}}
      {{> nominatedSpeaker this}}
    {{/each}}
  </div>
</template>


<template name="appliedSpeaker">
  <a href="/speaker/application/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>
<template name="nominatedSpeaker">
  <a href="/speaker/nomination/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>


<template name="speakerTile">
    <div class="speaker tile {{#if voted}}voted{{/if}}">
      <i class="icon-profile-id"></i>
      <div class="name">
        {{this.firstName}} {{this.lastName}}
      </div>
    </div>
</template>

<template name="speaker">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <div class="vote {{#if voted}}voted{{/if}}">
      <div class="title">
        {{#if voted}}
          Voted
        {{else}}
          Vote
        {{/if}}
      </div>
      <i class="icon-hand-like-2"></i>
    </div>
  <div class="speaker">
    <h1>Meet {{this.firstName}}.
      {{#if userIsVerified}}
        <!-- <a href="/speaker/application/{{this._id}}/edit" class="btn btn-circle btn-raised ripple-effect btn-primary "><span class="icon-pencil-2"></span></a> -->
      {{/if}}
    </h1>
    <p>
      {{this.firstName}} {{this.lastName}} would like to be a speaker at this years TEDxCapeTown event. {{this.firstName}} is between the ages {{this.speakerApplication.ageGroup}}. {{this.firstName}}  would like to talk about '{{this.speakerApplication.ideaWorthSpreading}}'.
    </p>
    <p>
      You can find out more about them <a href="http://{{this.speakerApplication.TEDProfileURL}}" target="_blank">here</a>.
    </p>
    <p class="info">
      First name:<strong> {{this.firstName}} </strong><br />
      Last name:<strong> {{this.lastName}} </strong><br />
      Preferred name:<strong> {{this.speakerApplication.preferredName}} </strong><br />
      Email:<strong>
      <a href="mailto:{{this.speakerApplication.email}}">{{this.speakerApplication.email}}</a> </strong><br />
      Cellphone:<strong> {{this.speakerApplication.cellphone}} </strong><br />
      TED Profile URL:<strong>
      <a href="{{this.speakerApplication.TEDProfileURL}}">{{this.speakerApplication.TEDProfileURL}}</a> </strong><br />
      TED Talks:<strong> {{this.speakerApplication.TEDTalks}} </strong><br />
      Idea Worth Spreading:<strong> {{this.speakerApplication.ideaWorthSpreading}} </strong><br />
      Gender:<strong> {{this.speakerApplication.gender}} </strong><br />
      Age Group:<strong> {{this.speakerApplication.ageGroup}} </strong><br />
      Race:<strong> {{this.speakerApplication.race}} </strong><br />
      Created At:<strong> {{this.createdAt}} </strong><br />
      Categories:<strong>
        <ul>
          {{#each this.categories}}
          <li>{{categoryName this}}</li>
          {{/each}}
        </ul>
      </strong>
    </p>
  </div>
  </page>
</template>

<template name="nominee">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <div class="vote {{#if voted}}voted{{/if}}">
      <div class="title">
        {{#if voted}}
          Voted
        {{else}}
          Vote
        {{/if}}
      </div>
      <i class="icon-hand-like-2"></i>
    </div>
    <div class="speaker">
        <h1>{{this.speakerNomination.nominatorFirstName}} would like to nominate {{this.firstName}}
          {{#if userIsVerified}}
            <!-- <a href="/speaker/nomination/{{this._id}}/edit" class="btn btn-circle btn-raised ripple-effect btn-primary "><span class="icon-pencil-2"></span></a> -->
          {{/if}}
        </h1>
        <p class="info">
          First name:<strong> {{this.firstName}}</strong><br />
          Last name:<strong> {{this.lastName}}</strong><br />
          Idea worth spreading:<strong> {{this.speakerNomination.speakerIdea}} </strong><br />
          Contact details:<strong> {{this.speakerNomination.speakerContact}} </strong><br />
          Nominated By:<strong> {{this.speakerNomination.nominatorFirstName}} {{this.speakerNomination.nominatorLastName}}</strong><br />
          Nominator's email:<strong>
            <a href="mailto:{{this.speakerApplication.email}}">{{this.speakerNomination.nominatorEmail}}</a> </strong><br />
          Categories:<strong>
          <ul>
            {{#each this.categories}}
            <li>{{categoryName this}}</li>
            {{/each}}
          </ul>
      </strong>
        </p>
    </div>
  </page>

</template>

<template name="edit_speaker_application">
   <page>
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
      <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
      <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
      {{#if userIsVerified}}
        <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
      {{/if}}
    </ul>
     <h1><b>Updating</b> speaker application for {{this.firstName}}.</h1>

    {{#autoForm collection="speakers" id="updateSpeakerApplicationForm" type="update" doc=this }}
    <fieldset>
      {{> afQuickField name="firstName" options="auto"}}
      {{> afQuickField name="lastName" options="auto"}}

      {{#each afFieldNames name="speakerApplication"}}
        {{#if isEqual this "speakerApplication.cellphone"}}
          {{> afFormGroup name=this type="text" }}
        {{else}}
          {{> afQuickField name=this options="auto"}}
        {{/if}}
      {{/each}}

      {{> afQuickField name="categories" options="auto"}}

    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
      <button class="btn btn-primary btn-cancel">Cancel</button>

  </page>
</template>

<template name="edit_speaker_nominee">
   <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <h1><b>Updating</b> speaker nomination for {{this.firstName}} </h1>

   {{#autoForm collection="speakers" id="updateSpeakerApplicationForm" type="update" doc=this}}
    <fieldset>
      {{> afQuickField name="firstName" options="auto" label="Speaker first name"}}
      {{> afQuickField name="lastName" options="auto" label= "Speaker last name"}}

      {{#each afFieldNames name="speakerNomination"}}
        {{> afQuickField name=this options="auto"}}
      {{/each}}
       {{> afQuickField name="categories" options="auto"}}

    </fieldset>
      <button type="submit" class="btn btn-primary">Update</button>
  {{/autoForm}}
      <button class="btn btn-primary btn-cancel">Cancel</button>

</page>
</template>

<template name="votes">
  <page>
    <h1>A total of {{totalNumberOfVotes}} votes have been cast</h1>
    <button class="btn btn-primary" id="count_votes_btn">Refresh</button>
    <h2>Votes for Applied</h2>
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Votes</th>
      </tr>
    </thead>
    <tbody>
      {{#each applied_ordered}}
        <tr>
          <td><a href="/speaker/application/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></td>
          <td>{{this.numberOfVotes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  <h2>Votes for Nominated</h2>
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Votes</th>
      </tr>
    </thead>
    <tbody>
      {{#each nominated_ordered}}
        <tr>
          <td><a href="/speaker/nomination/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></td>
          <td>{{this.numberOfVotes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</page>
</template>
