<template name="speakers">
  <div class="container-fluid">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>

    {{#if userIsVerified}}
    <li><a href="{{ pathFor 'speakers.new'}}"> Add Speaker</a></li>
    {{/if}}

    {{#if userIsVerified}}
      <!--li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li-->
    {{/if}}
  </ul>

    
  <div class="container-fluid dark">
    <div id="theGrid" class="main animated fadeIn">
      <section class="grid">
        {{#each applied}}
            {{> speakerTile this}}
          {{/each}}
      </section>
    </div>
  </div>

    <!--h1>Applied</h1>
    {{#each applied}}
      {{> appliedSpeaker this}}
    {{/each}}
    <h1>Nominated</h1>
    {{#each nominated}}
      {{> nominatedSpeaker this}}
    {{/each}}-->
  </div>
</template>

<!--lots of temp logic here....just copied from talks grid view-->
<template name="speakerTile">
    <a class="talk-tile animated fadeInUp" href="/speakers/show/{{this._id}}">
    <div class="top" style="background: url(); background-size: 110%; background-repeat: no-repeat">

    </div>
      <div class="talk-title">{{{this.firstName}}}</div>
      <div class="talk-speaker">{{this.lastName}}</div>
      <div class="bottom">
        
        {{#markdown}}{{this.firstName}}{{/markdown}}
      </div>
    </a>
</template>



<template name="appliedSpeaker">
  <a href="/speaker/application/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>
<template name="nominatedSpeaker">
  <a href="/speaker/nomination/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>


<!--template name="speakerTile">
    <div class="speaker tile {{#if voted}}voted{{/if}}">
      <i class="icon-profile-id"></i>
      <div class="name">
        {{this.firstName}} {{this.lastName}}
      </div>
    </div>
</template-->



<template name="applicant">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <div class="vote {{#if voted}}voted{{/if}}">
      <div class="title">
        {{#if voted}}
          Voted
        {{else}}
          Vote
        {{/if}}
      </div>
      <i class="icon-hand-like-2"></i>
    </div>
  <div class="speaker">
    <h1>Meet {{this.firstName}}.
      {{#if userIsVerified}}
        <!-- <a href="/speaker/application/{{this._id}}/edit" class="btn btn-circle btn-raised ripple-effect btn-primary "><span class="icon-pencil-2"></span></a> -->
      {{/if}}
    </h1>
    <p>
      {{this.firstName}} {{this.lastName}} would like to be a speaker at this years TEDxCapeTown event. {{this.firstName}} is between the ages {{this.speakerApplication.ageGroup}}. {{this.firstName}}  would like to talk about '{{this.speakerApplication.ideaWorthSpreading}}'.
    </p>
    <p>
      You can find out more about them <a href="http://{{this.speakerApplication.TEDProfileURL}}" target="_blank">here</a>.
    </p>
    <p class="info">
      First name:<strong> {{this.firstName}} </strong><br />
      Last name:<strong> {{this.lastName}} </strong><br />
      Preferred name:<strong> {{this.speakerApplication.preferredName}} </strong><br />
      Email:<strong>
      <a href="mailto:{{this.speakerApplication.email}}">{{this.speakerApplication.email}}</a> </strong><br />
      Cellphone:<strong> {{this.speakerApplication.cellphone}} </strong><br />
      TED Profile URL:<strong>
      <a href="{{this.speakerApplication.TEDProfileURL}}">{{this.speakerApplication.TEDProfileURL}}</a> </strong><br />
      TED Talks:<strong> {{this.speakerApplication.TEDTalks}} </strong><br />
      Idea Worth Spreading:<strong> {{this.speakerApplication.ideaWorthSpreading}} </strong><br />
      Gender:<strong> {{this.speakerApplication.gender}} </strong><br />
      Age Group:<strong> {{this.speakerApplication.ageGroup}} </strong><br />
      Race:<strong> {{this.speakerApplication.race}} </strong><br />
      Created At:<strong> {{this.createdAt}} </strong><br />
      Categories:<strong>
        <ul>
          {{#each this.categories}}
          <li>{{categoryName this}}</li>
          {{/each}}
        </ul>
      </strong>
    </p>
  </div>
  </page>
</template>

<template name="nominee">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <div class="vote {{#if voted}}voted{{/if}}">
      <div class="title">
        {{#if voted}}
          Voted
        {{else}}
          Vote
        {{/if}}
      </div>
      <i class="icon-hand-like-2"></i>
    </div>
    <div class="speaker">
        <h1>{{this.speakerNomination.nominatorFirstName}} would like to nominate {{this.firstName}}
          {{#if userIsVerified}}
            <!-- <a href="/speaker/nomination/{{this._id}}/edit" class="btn btn-circle btn-raised ripple-effect btn-primary "><span class="icon-pencil-2"></span></a> -->
          {{/if}}
        </h1>
        <p class="info">
          First name:<strong> {{this.firstName}}</strong><br />
          Last name:<strong> {{this.lastName}}</strong><br />
          Idea worth spreading:<strong> {{this.speakerNomination.speakerIdea}} </strong><br />
          Contact details:<strong> {{this.speakerNomination.speakerContact}} </strong><br />
          Nominated By:<strong> {{this.speakerNomination.nominatorFirstName}} {{this.speakerNomination.nominatorLastName}}</strong><br />
          Nominator's email:<strong>
            <a href="mailto:{{this.speakerApplication.email}}">{{this.speakerNomination.nominatorEmail}}</a> </strong><br />
          Categories:<strong>
          <ul>
            {{#each this.categories}}
            <li>{{categoryName this}}</li>
            {{/each}}
          </ul>
      </strong>
        </p>
    </div>
  </page>

</template>

<template name="edit_speaker_application">
   <page>
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
      <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
      <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
      {{#if userIsVerified}}
        <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
      {{/if}}
    </ul>
     <h1><b>Updating</b> speaker application for {{this.firstName}}.</h1>

    {{#autoForm collection="speakers" id="updateSpeakerApplicationForm" type="update" doc=this }}
    <fieldset>
      {{> afQuickField name="firstName" options="auto"}}
      {{> afQuickField name="lastName" options="auto"}}

      {{#each afFieldNames name="speakerApplication"}}
        {{#if isEqual this "speakerApplication.cellphone"}}
          {{> afFormGroup name=this type="text" }}
        {{else}}
          {{> afQuickField name=this options="auto"}}
        {{/if}}
      {{/each}}

      {{> afQuickField name="categories" options="auto"}}

    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
      <button class="btn btn-primary btn-cancel">Cancel</button>

  </page>
</template>

<template name="edit_speaker_nominee">
   <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if userIsVerified}}
      <li class="active"><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <h1><b>Updating</b> speaker nomination for {{this.firstName}} </h1>

   {{#autoForm collection="speakers" id="updateSpeakerApplicationForm" type="update" doc=this}}
    <fieldset>
      {{> afQuickField name="firstName" options="auto" label="Speaker first name"}}
      {{> afQuickField name="lastName" options="auto" label= "Speaker last name"}}

      {{#each afFieldNames name="speakerNomination"}}
        {{> afQuickField name=this options="auto"}}
      {{/each}}
       {{> afQuickField name="categories" options="auto"}}

    </fieldset>
      <button type="submit" class="btn btn-primary">Update</button>
  {{/autoForm}}
      <button class="btn btn-primary btn-cancel">Cancel</button>

</page>
</template>

<template name="votes">
  <page>
    <h1>A total of {{totalNumberOfVotes}} votes have been cast</h1>
    <button class="btn btn-primary" id="count_votes_btn">Refresh</button>
    <h2>Votes for Applied</h2>
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Votes</th>
      </tr>
    </thead>
    <tbody>
      {{#each applied_ordered}}
        <tr>
          <td><a href="/speaker/application/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></td>
          <td>{{this.numberOfVotes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  <h2>Votes for Nominated</h2>
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Votes</th>
      </tr>
    </thead>
    <tbody>
      {{#each nominated_ordered}}
        <tr>
          <td><a href="/speaker/nomination/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></td>
          <td>{{this.numberOfVotes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</page>
</template>

<template name="speaker">

</template>


<template name="newSpeaker">
  <div class="container-fluid">
    <h1>Add a Speaker</h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="firstNameText">First Name</label>
        <input type="text" class="form-control firstNameText" placeholder="Speaker First name...">
      </div>
      <div class="form-group">
        <label for="lastNameText">Last Name</label>
        <input type="text" class="form-control lastNameText" placeholder="Speaker Last name...">
      </div>
    
      <!--add contact urls here-->


      <div class="form-group">
        <label for="descriptionText">Speaker Description</label>
        <textarea class="form-control descriptionText"></textarea>
      </div>
      <div class="form-group">
            <label>Speaker Image</label>
            <p>Add a web URL or tap the icon to upload from disk</p>
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control logoURL" placeholder="Url...">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-secondary btn-upload-from-web">Add</button>
              </div>
            </div>
            <br/>
            <img src="images/default/image.png" style="max-width:100%" class="upload" id="imageUpload">
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Speaker?</label>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-primary save_speaker">Save</button>
    </form>
  </div>

</template>
