<template name="register">
 <div class="container-fluid">
  <div class="content">
    <!-- {{#if userIsVerified}}
    <ul class="navigation">
      <li><a href="{{ pathFor 'manage.speakers'}}"> Manage speakers</a></li>
    </ul>
    {{/if}} -->
   <h1>TEDxCapeTown 2016</h1>
   <div class="row">
       <div class="col-md-8">
         <p>
           Imagine if intellectual ideas received the same amount of attention and care as Hollywood blockbusters... TED and TEDx come close.
         </p>
         <p>
           TEDx is not just a conference, it is a filmed production, and speaking at TEDxCapeTown is about much more than your appearance on stage. We are building a community of people who are engaging in meaningful change. Your attitude towards creating community and paying it forward is as important as your idea worth spreading.
           Do you have a burning passion for something that the world needs to know about? Can you speak about it? Is it a remarkable idea worth spreading? Will it entertain, inspire and inform us all at the same time? Is it suited to a TED-like experience?
         </p>
         <p>
           TEDxCapeTown 2016, themed 'Here/Hear to listen' will focus on people who provide a novel insight into their respective fields, and whose solutions have the potential to have a significant positive impact on the world we live in.
         </p>
       </div>
       <div class="col-md-4">
         <h3>Share</h3>
         {{#with shareContext}}
          {{>shareit}}
          {{/with}}
       </div>
     </div>
      <h1>Here/Hear to listen</h1>
   <h4>Saturday, October 15 - Ratanga Junction</h4>
   <p>
     Perspective—you have yours and I have mine. To understand one another, I will have to leave my “here” to curiously step into your “there”. In doing this, I broaden my view and I grow.
   </p>
   <p>
     But to address and understand different perspectives, I need to listen, really listen, and be present—both physically and mentally. Only by being present in the moment, can I fully receive all the information you are sharing with me. I hear what you are saying.
   </p>
   <p>
     This year, TEDxCapeTown 2016 is Here/Hear to listen.
   </p>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="/images/photos/rapalang.jpg" class="img-responsive" alt="Rapalang Rabana" />
        </div>
        <div class="col-md-4 hidden-sm">
          <img src="/images/photos/arthur.jpg" class="img-responsive" alt="Arthur" />
        </div>
        <div class="col-md-4 hidden-sm">
          <img src="/images/photos/jasper.jpg" class="img-responsive" alt="Jasper" />
        </div>
    </div>
   </div>
   <h3>What to expect:</h3>
   <p>Listen to what prior speakers have said - <a class="link" href="https://www.youtube.com/playlist?list=PLv1iiasH-EqWE9ptlL0BHOw-GG7o_tAbV">here</a> & <a class="link" href="https://www.youtube.com/watch?v=WwM23DQEKrs&index=1&list=PLv1iiasH-EqWAKzjQqi5J3tiP0JIGN2Tj" target="_blank">here</a></p>
   <div class="row">
       <div class="col-md-6">
         <p>
           Do you know someone who should speak at TEDxCapeTown 2016?
         </p>
         <a href="{{pathFor 'speakers.nominate'}}" class="btn btn-primary">Nominate a speaker</a>
       </div>
       <div class="col-md-6">
         <p>
           Do you have an idea you want to spread at TEDxCapeTown 2016?
         </p>
         <a href="{{pathFor 'speakers.apply'}}" class="btn btn-primary">Apply to speak</a>
       </div>
     </div>
     <hr class="no-line">
   <p>Keep reading to make sure you have all the necessary information. The link to the application is at the bottom of the page.</p>

   <p>If you aren’t already, <a href="{{pathFor 'newsletter'}}">sign up</a> to our mailing list to stay informed.</p>
   <hr>
   <h3>So who are we looking for?</h3>
   <ul>
      <li>The inventor – sharing an innovation with world-changing potential</li>
      <li>The teacher – sharing valuable knowledge in a memorable way to teenagers or adults</li>
      <li>The prodigy – young talent ready to break free</li>
      <li>The artist – showcasing inspiring work in a compelling new way</li>
      <li>The performer – staging music, comedy, dance, drama or something completely different</li>
      <li>The sage – wisdom the world needs from those who have learned it the hard way</li>
      <li>The enthusiast – with an infectious passion about a topic they can share</li>
      <li>The change agent – helping shape the world’s future with work that matters</li>
      <li>The storyteller – vivid, original and meaningful, with a talent for connection</li>
      <li>The spark – with a powerful idea worth spreading </li>
    </ul>
    <p>Choose a topic – any topic. The more diverse, the better. This can range from technology, astronomy, design and entertainment to art, environmental science, leadership, entrepreneurship, finance, marketing, anthropology, psychology, philosophy, and more...</p>
    <hr>
    <h3>Getting Started</h3>
    <p>Empower yourself by making sure that you fully understand what these type of events are all about. Remember: It is so much more than the average conference, rather it is more like a filmed production dedicated to ideas worth spreading!
</p>
  <p>Begin by:</p>
    <ul>
      <li>Immersing yourself in the various TED talks available on the internet</li>
      <li>Reading the official TED speaker <a class="link" href="http://storage.ted.com/tedx/manuals/tedx_speaker_guide.pdf" target="_blank">guideline</a></li>
      <li>Listen to what prior speakers have said - <a href="https://www.youtube.com/playlist?list=PLv1iiasH-EqWE9ptlL0BHOw-GG7o_tAbV" class="link">here</a> & <a href="https://www.youtube.com/watch?v=WwM23DQEKrs&index=1&list=PLv1iiasH-EqWAKzjQqi5J3tiP0JIGN2Tj" target="_blank" class="link">here</a></li>
    </ul>
    <hr>
    <h3>What commitment is expected from Speakers?</h3>
    <h4>Dates to commit to as a TEDxCapeTown 2016 speaker:</h4>
    <div class="row">
      <div class="col-md-7">
        <ul>
          <li>Speaker applications close - 1 August</li>
          <li>Pitch session 1 (speakers need only attend one pitch session) - 11  August</li>
          <li>OR Pitch session 2 - 13 August</li>
          <li>Speaker workshop 1 - 3 September</li>
          <li>Speaker workshop 2 - 24 September</li>
          <li>Dry runs - 13 October</li>
          <li>EVENT - 15 October</li>
        </ul>
      </div>
      <div class="col-md-5">
        <p><small>Dates are subject to change based on how your talk journey goes and if changes are needed. These are the guidelines, and the number of events you will be expected to attend to give you an idea of the input required. We are flexible and accommodating, but we do expect a high level of commitment from speakers.
  Please note: We expect you to take part in the process to prepare you for the intellectual performance of your career. If you cannot commit to these requirements we reserve the right to exclude you from the final speaker line up.</small></p>
      </div>
    </div>
</div>
</template>

<template name="nomination">
  {{setSpeakerRegistrationType "nomination"}}
  <div class="container-fluid">
   <div class="content">
     <h1>Nominate a speaker for TEDxCapeTown 2016</h1>
    <p>Awesome news. We're glad you've decided to <strong>nominate someone</strong> to speak at TEDxCapeTown 2016. We just need to collect a few details from you so that we can begin. We will contact you to let you know if we accept the application.</p>
    <p>For more information please email us at <a href="mailto:hello@tedxcapetown.org">hello@tedxcapetown.org</a></p>
    <hr>
    {{#autoForm collection="speakers" id="insertSpeakerNominationForm" type="insert"}}
    <fieldset>
      {{> afQuickField name="firstName" options="auto" label="Speaker first name"}}
      {{> afQuickField name="lastName" options="auto" label= "Speaker last name"}}

      {{#each afFieldNames name="speakerNomination"}}

        {{#if isEqual this "speakerNomination.nomination"}}
        {{else}}
          {{#if isEqual this "speakerNomination.year"}}
          {{else}}
            {{> afQuickField name=this options="auto"}}
          {{/if}}
        {{/if}}
      {{/each}}
    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
</div>
</div>
</template>

<template name="application">
  {{setSpeakerRegistrationType "application"}}
  <div class="container-fluid">
   <div class="content">
     <h1>Apply to speak at TEDxCapeTown 2016</h1>
    <p>Awesome news. We're glad you've decided to apply to speak at TEDxCapeTown 2016. We just need to collect a few details from you so that we can begin. We will contact you to let you know if we accept your application.</p>
    <p>For more information please email us at <a href="mailto:hello@tedxcapetown.org">hello@tedxcapetown.org</a></p>
    <hr>
    {{#autoForm collection="speakers" id="insertSpeakerApplicationForm" type="insert"}}
    <fieldset>
      {{> afQuickField name="firstName" options="auto"}}
      {{> afQuickField name="lastName" options="auto"}}

      {{#each afFieldNames name="speakerApplication"}}
        {{#if isEqual this "speakerApplication.cellphone"}}
          {{> afFormGroup name=this type="text" }}
        {{else}}
          {{#if isEqual this "speakerApplication.application"}}
          {{else}}
            {{#if isEqual this "speakerNomination.year"}}
            {{else}}
              {{> afQuickField name=this options="auto"}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    </fieldset>
    <h4>Subject Level<br><small>Choose a subject</small></h4>
    <ul class="tags-manager tags-layout-list subject">
      <li class="tag"><input type="checkbox" value="political" checked="{{isCategoryChecked 'subjects' 'political'}}"> Political</li>
      <li class="tag"><input type="checkbox" value="legal" checked="{{isCategoryChecked 'subjects' 'legal'}}"> Legal</li>
      <li class="tag"><input type="checkbox" value="physiological_biological" checked="{{isCategoryChecked 'subjects' 'physiological_biological'}}"> Physiological/Biological</li>
      <li class="tag"><input type="checkbox" value="psychological" checked="{{isCategoryChecked 'subjects' 'psychological'}}"> Psychological</li>
      <li class="tag"><input type="checkbox" value="economic" checked="{{isCategoryChecked 'subjects' 'economic'}}"> Economic</li>
      <li class="tag"><input type="checkbox" value="cultural" checked="{{isCategoryChecked 'subjects' 'cultural'}}"> Cultural</li>
      <li class="tag"><input type="checkbox" value="social" checked="{{isCategoryChecked 'subjects' 'social'}}"> Social</li>
      <li class="tag"><input type="checkbox" value="environmental" checked="{{isCategoryChecked 'subjects' 'environmental'}}"> Environmental</li>
      <li class="tag"><input type="checkbox" value="technological" checked="{{isCategoryChecked 'subjects' 'technological'}}"> Technological</li>
      <li class="tag"><input type="checkbox" value="spiritual" checked="{{isCategoryChecked 'subjects' 'spiritual'}}"> Spiritual</li>

    </ul>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
  </div>
    </div>
</template>

<template name="complete">
  <div class="container-fluid">
   <div class="content">
    <h1>Thank you</h1>
    <p>Your application will be considered and we will get back to you as soon as we can</p>
    <p>For more information please email us at <a href="mailto:hello@tedxcapetown.org">hello@tedxcapetown.org</a></p>
  </div>
</div>
</template>
