<template name="register">
 <page class="application">

  <div class="content">
    {{#if currentUser}}
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.manage'}}"> Manage speakers</a></li>
    </ul>
    {{/if}}
   <h3>TEDxCapeTown 2015</h3>
   <h1>( Open { Access ) Control }</h1>
   <h4>Aug 14 - 15</h4>
   <p>In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxCapeTown, where x = independently organized TED event.</p>
    <p>For more information please email us at <a href="mailto:info@tedxcapetown.com">info@tedxcapetown.org</a></p>
   </div>
   <div class="cta">
     <div class="circle blue animated bounceInLeft"></div>
     <div class="circle yellow animated bounceInRight"></div>
     <div class="circle red">
       APPLY TO
       <strong>SPEAK</strong>

     </div>
    </div>
    <div class="clearfix"></div>
    <p class="nominate">Or, <a href="/speakers/register/nominate">nominate someone</a>.</p>
 </page>
</template>

<template name="nomination">
  {{setSpeakerRegistrationType "nomination"}}
   <page>
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
      <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
      <li class="active">Nominate</li>
      {{#if currentUser}}
        <li><a href="{{ pathFor 'speakers.manage'}}"> Manage speakers</a></li>
      {{/if}}
    </ul>
    <p>Awesome news. We're glad you've decided to <strong>nominate someone</strong> to speak at TEDxCapeTown 2015. We just need to collect a few details from you so that we can begin. We will contact you to let you know if we accept the application.</p>
    <p>For more information please email us at <a href="mailto:info@tedxcapetown.com">info@tedxcapetown.org</a></p>

    {{#autoForm collection="speakers" id="insertSpeakerNominationForm" type="insert"}}
    <fieldset>
      {{#each afFieldNames name="speakerNomination"}}
        {{> afQuickField name=this options="auto"}}
      {{/each}}
    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
  </page>
</template>



<template name="application">
  {{setSpeakerRegistrationType "application"}}
    <page>
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
      <li class="active">Apply to speak</li>
      <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
      {{#if currentUser}}
        <li><a href="{{ pathFor 'speakers.manage'}}"> Manage speakers</a></li>
      {{/if}}
    </ul>
    <p>Awesome news. We're glad you've decided to apply to speak at TEDxCapeTown 2015. We just need to collect a few details from you so that we can begin. We will contact you to let you know if we accept your application.</p>
    <p>For more information please email us at <a href="mailto:info@tedxcapetown.com">info@tedxcapetown.org</a></p>

    {{#autoForm collection="speakers" id="insertSpeakerApplicationForm" type="insert"}}
    <fieldset>
      {{#each afFieldNames name="speakerApplication"}}
        {{#if isEqual this "speakerApplication.cellphone"}}
          {{> afFormGroup name=this type="text" }}
        {{else}}
          {{> afQuickField name=this options="auto"}}
        {{/if}}
      {{/each}}

    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
  </page>
</template>

<template name="complete">
  <page>
    <ul class="navigation">
      <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
      <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
      <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    </ul>
    <h1>Thank you</h1>
    <p>Your application will be considered and we will get back to you as soon as we can</p>
    <p>For more information please email us at <a href="mailto:info@tedxcapetown.com">info@tedxcapetown.org</a></p>
  </page>
</template>

<template name="speakers">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if currentUser}}
      <li class="active"><a href="{{ pathFor 'speakers.manage'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <h1>Speakers</h1>
    {{#each speakers}}
      {{> speakerTile this}}
    {{/each}}
    <h1>Applied</h1>
    {{#each applied}}
      {{> appliedSpeaker this}}
    {{/each}}
    <h1>Nominated</h1>
    {{#each nominated}}
      {{> nominatedSpeaker this}}
    {{/each}}
  </page>
</template>


<template name="appliedSpeaker">
  <a href="/speaker/application/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>
<template name="nominatedSpeaker">
  <a href="/speaker/nomination/{{this._id}}" class="speaker">
  {{#with speakerdata}}
    {{> speakerTile this}}
  {{/with}}
</a>
</template>


<template name="speakerTile">
    <div class="speaker tile">
      <i class="icon-profile-id"></i>
      <div class="name">
        {{this.firstName}} {{this.lastName}}
      </div>
    </div>
</template>

<template name="speaker">
  <ul class="navigation">
    <li><a href="{{ pathFor 'speakers.register'}}"> About</a></li>
    <li><a href="{{ pathFor 'speakers.register.apply'}}"> Apply to speak</a></li>
    <li><a href="{{ pathFor 'speakers.register.nominate'}}"> Nominate</a></li>
    {{#if currentUser}}
      <li class="active"><a href="{{ pathFor 'speakers.manage'}}"> Manage speakers</a></li>
    {{/if}}
  </ul>
  <page>
    <div class="speaker">
      <h1>Meet {{this.speakerApplication.firstName}}. </h1>
      <p>{{this.speakerApplication.firstName}} would like to be a speaker at this years TEDxCapeTown event. {{gender}} is between the ages {{this.speakerApplication.ageGroup}}. {{this.speakerApplication.firstName}} {{this.speakerApplication.lastName}} would like to talk about '{{this.speakerApplication.ideaWorthSpreading}}'.</p>
      <p>You can find out more about them <a href="http://{{this.speakerApplication.TEDProfileURL}}" target="_blank">here</a>.</p>
      <p class="info">
        First name:<strong> {{this.speakerApplication.firstName}} </strong><br />
        Last name:<strong> {{this.speakerApplication.lastName}} </strong><br />
        Preferred name:<strong> {{this.speakerApplication.preferredName}} </strong><br />
        Email:<strong>
          <a href="mailto:{{this.speakerApplication.email}}">{{this.speakerApplication.email}}</a> </strong><br />
        Cellphone:<strong> {{this.speakerApplication.cellphone}} </strong><br />
        TED Profile URL:<strong>
          <a href="{{this.speakerApplication.TEDProfileURL}}">{{this.speakerApplication.TEDProfileURL}}</a> </strong><br />
        TED Talks:<strong> {{this.speakerApplication.TEDTalks}} </strong><br />
        Idea Worth Spreading:<strong> {{this.speakerApplication.ideaWorthSpreading}} </strong><br />
        Gender:<strong> {{this.speakerApplication.gender}} </strong><br />
        Age Group:<strong> {{this.speakerApplication.ageGroup}} </strong><br />
        Race:<strong> {{this.speakerApplication.race}} </strong><br />
        Created At:<strong> {{this.createdAt}} </strong><br />
      </p>
    </div>
  </page>

</template>
