<template name="editSpeaker">
  <div class="container-fluid">
    <h1>Edit Speaker</h1>
    <hr class="extra-space-top dashed">
    <form>
      <div class="form-group">
        <label for="firstNameText">First Name</label>
        <input type="text" class="form-control firstNameText" placeholder="Speaker First name..." value="{{this.firstName}}">
      </div>
      <div class="form-group">
        <label for="lastNameText">Last Name</label>
        <input type="text" class="form-control lastNameText" placeholder="Speaker Last name..." value="{{this.lastName}}">
      </div>
      <div class="form-group">
        <label for="eventSelector">Event</label>
        <select id="eventSelector">
          <option value="">Select...</option>
          {{#each events}}
            <option value="{{this._id}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="talkSelector">Talk</label>
        <select id="talkSelector">
          <option value="">Select...</option>
          {{#each talks}}
            <option value="{{this._id}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div> -->
      <!--add contact urls here-->


      <div class="form-group">
        <label for="descriptionText">Speaker Description</label>
        <textarea class="form-control descriptionText" value="{{this.description}}"></textarea>
      </div>
      <div class="form-group">
            <label>Speaker Image</label>
            <p>Add a web URL or tap the icon to upload from disk</p>
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control logoURL" placeholder="Url..." value="{{this.imageURL}}">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-secondary btn-upload-from-web">Add</button>
              </div>
            </div>
            <br/>
            <img src="{{this.imageURL}}" style="max-width:100%" class="upload" id="imageUpload">
      </div>
      <div class="form-group">
        <label for="descriptionText">Publish Speaker?</label>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publishSwitch" checked="{{this.published}}">
          <label class="onoffswitch-label" for="publishSwitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <hr class="dashed">
      <button type="button" class="btn btn-primary update">Save</button>
    </form>
  </div>

</template>
