<template name="speakers">
  <div class="container-fluid">
    <ul class="toolbar">
      <li>
        <a href="{{ pathFor 'speakers.new'}}" class="tag">
          <i class="icon-tags"></i>
          New Speaker
        </a>
      </li>
    </ul>
  </div>
  <br />
  <br />
  <div class="container-fluid ">
    <div id="theGrid" class="main animated fadeIn">
      <section class="grid">
        {{#each allSpeakers}}
            {{> speakerTile this}}
          {{/each}}
      </section>
    </div>
  </div>
</template>

<!--lots of temp logic here....just copied from talks grid view-->
<template name="speakerTile">
    <a class="talk-tile animated fadeInUp" href="/speakers/show/{{this._id}}">
    <div class="top" style="background: url({{this.imageURL}}); background-size: 100%; background-repeat: no-repeat">
    </div>
      <!-- <div class="talk-title"></div> -->
      <div class="talk-speaker">{{this.firstName}} {{this.lastName}}</div>
      <div class="bottom">
        {{#markdown}}{{this.description}}{{/markdown}}
      </div>
      <div class="actions">
        <button class="btn"><i class="icon-play"></i> <span>View Speaker</span></button>
        <!-- <span class="pull-right like"><i class="icon-heart-1-1"></i></span> -->
      </div>
    </a>
</template>

<template name="speaker">
  <div class="back-button back">
    <a href="\speakers" class="noLink">
      <i class="icon-thumbnails-1"></i>
      <span class="text">
        Back to speakers
      </span>
    </a>
  </div>
  {{#if userIsInRole 'member'}}
  <ul class="toolbar">
    <li>
      <a href="{{pathFor route='speakers.edit' data=speaker}}" class="edit">
        <i class="icon-pencil-2"></i>
        Edit
      </a>
    </li>
    <li>
      <a href="#" class="delete">
        <i class="icon-bin-2"></i>
        Delete
      </a>
    </li>
  </ul>
  {{/if}}
  <br />
  <div class="container-fluid centered">
    <h1 class="title">{{this.firstName}} {{this.lastName}}</h1>
    <a href="{{pathFor route='posts.show.event' _id=this.selectedEventId}}"><h2>{{titleForEvent this.selectedEventId}}</h2></a>
    <h3 class="title">{{this.topic}}</h3>

    <!-- <a href="{{pathFor route='talks.show' _id=this.selectedTalkId}}"><h2>{{titleForTalk this.selectedTalkId}}</h2></a> -->
    <!-- {{this.selectedTalkId}} -->
    <hr class="space extra-space-top">
        <div class="row text-center">
          <img style="max-width:60%" src="{{this.imageURL}}" href="{{this.imageURL}}">
        </div>
    <hr class="space extra-space-top">
    <p>{{this.description}}</p>
  </div>

</template>
