<template name="default">
  {{> flashMessages}}
  {{> metaData}}
  <div class="background"></div>
  <div class="page-wrapper">
    <section class="top {{color}} padded">
      <a href="{{pathFor route='home'}}" class="noLink">
      <div class="branding">
        <img src="/images/logo_white.png" class="logo" >
      </div>
      </A>
      <div class="old-website-link">
        <a class="noLink" href="http://old.tedxcapetown.org" target="_blank">Looking for the old website?</a>
      </div>
      <div class="mobile-menu-toggle">
        <i class="icon-menu"></i>
      </div>
      <div class="nav-links">
        <a href="https://www.quicket.co.za/events/10587-tedx-cape-town-2015-open-access-control/#/preregistration" target="_blank" class="noLink">
          <div class="link">
            <strong>Get tickets</strong>
        </div>
        </a>
        <a href="{{pathFor route='live'}}" class="noLink">
          <div class="link">
            Simulcast
        </div>
        </a>
        <a href="{{pathFor route='watch'}}" class="noLink">
          <div class="link">
            Watch Talks
        </div>
        </a>
        {{#if userIsInRole "member"}}
        <a href="{{pathFor route='events'}}" class="noLink">
          <div class="link">
            Events
          </div>
        </a>
        <a href="{{pathFor route='news'}}" class="noLink">
          <div class="link">
            News
          </div>
        </a>
        {{/if}}
        {{#if currentUser}}
        <a href="{{pathFor route='account'}}" class="noLink">
          <div class="link profile manage">
            <i class="icon-profile"></i>
          </div>
        </a>
        {{else}}
        <div class="link profile login">
          <a href="{{pathFor route='login'}}" class="noLink"><i class="icon-profile"></i> Login</a>
        </div>
        {{/if}}
      </div>

    </section>
    <div class="animated fadeIn page">
    <!-- {{> authenticate}} -->
    {{> yield}}
    </div>
    {{> footer}}
  </div>
</template>

<template name="singlePage">
  {{> flashMessages}}
  {{> metaData}}
  {{#if currentUser}}
    {{> adminMenu}}
  {{else}}
    <div class="loginButtons">{{> loginButtons}}</div>
  {{/if}}
  <div class="singlePage animated bounceInUp">
    <div class="content">
    <img src="/images/logo.png" class="pull-left logo" >
  <div class="clearfix"></div>
      {{> yield }}
    </div>
  </div>
  {{> footer}}
</template>

<template name="metaData">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fontastic.s3.amazonaws.com/KMscZPbco5cxLZSpmnpaA7/icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="fragment" content="!">
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/fetonj2b';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <script>
      ChatraID = 'KvcYsyXSBbANETK6M';
      (function(d, w, c) {
          var n = d.getElementsByTagName('script')[0],
              s = d.createElement('script');
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          s.async = true;
          s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
              + '//chat.chatra.io/chatra.js';
          n.parentNode.insertBefore(s, n);
      })(document, window, 'Chatra');
  </script>
</template>

<template name="adminMenu">
  <nav class="adminMenu animated fadeIn">
      <div class="menuToggle">
        <i class="icon-setting-gear"> </i>Manage <i class="icon-arrow-65 dropDownArrow"></i>
      </div>
      <div class="dropDown animated fadeInRight">
        <ul>
          {{#if userIsVerified}}
            <li><a href="/manage/speakers">Speakers</a></li>
            <li><a href="/manage/categories">Categories</a></li>
            <li><a href="/manage/talks/new">Add Talk</a></li>
          {{else}}
          <p>You need to verify your email address before you can administer this website.</p>
            <li><a class="resendVerificationEmail">Resend verification email</a></li>
          {{/if}}
          <li><a class="logout">Logout</a></li>
        </ul>
      </div>
      {{#if taskRemaining}}
      <div class="tasks">
        {{#if userIsVerified}}
          You have a new task.
          <ul>
            <li class="voteLink">
              {{#if taskRemaining}}<i class="icon-full-moon"></i>{{else}}<i class="icon-check-circle-2"></i>{{/if}} Vote for 3 speakers
            </li>
          </ul>
          {{#if taskRemaining}}
          <small>Look through the speakers. Choose three and vote for them.</small>
          {{else}}
            <small><strong>Tip:</strong> You can "unvote" for a speaker by selecting the vote button again.</small>
          {{/if}}
          <hr>
          <p>Votes left <strong>{{votes}}</strong></p>
        {{else}}
        <ul>
          <li class="resendVerificationEmail">
            <i class="icon-full-moon"></i> Click here to verify your email
          </li>
        </ul>
        <small>Without verifying your email we cannot let you access any admin functionality.</small>
         {{/if}}
      </div>
      {{/if}}
  </nav>
</template>

<template name="footer">
  <div class="footer">
      <h3>WHAT IS TEDX?</h3>
      <div class="row">
        <div class="col-md-6">
            In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxCapeTown, where x = independently organized TED event.
        </div>
        <div class="col-md-6">
            At our TEDxCapeTown event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group.
            The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.
        </div>
      </div>
      <div class="clearfix"></div>
      <p class="copyright">TEDxCT © 2015. This independent TEDx event is operated under license from TED.</p>
  </div>
</template>
