<template name="default">
  {{> flashMessages}}
  {{> metaData}}
  <div class="background"></div>
  <div class="page-wrapper">
    <section class="top {{color}} padded">
      <a href="{{pathFor route='home'}}" class="noLink">
      <div class="branding">
        <img src="/images/logo_white.png" class="logo" >
      </div>
    </a>
      <div class="mobile-menu-toggle">
        <i class="icon-menu"></i>
      </div>
      <div class="nav-links">
        {{> mainMenu}}
      </div>

    </section>
    <div class="animated fadeIn page">
    <!-- {{> authenticate}} -->
    {{> yield}}
    </div>
    {{> footer}}
    {{> scriptsLoadAfter}}
  </div>
</template>

<template name="mainMenu">
  <ul>
    <!-- Slot for one featured link. -->
    <!-- <li>
      <a href="{{pathFor route='speakers.register'}}" class="noLink {{#if selected 'Events'}}active{{/if}}">
        Apply to Speak
      </a>
    </li> -->
    <li>
      <a href="{{pathFor route='posts.show.event' _id='8BTqfCrQEnou2TpKL'}}" class="noLink">
        TED<span style="text-transform: lowercase;">x</span>CTWomen
      </a>
      <ul>
        <!-- <li><a href="{{pathFor route=''}}" class="noLink {{#if selected ''}}active{{/if}}">
          Buy tickets
        </a></li> -->
        <!-- <li><a href="{{pathFor route='speakersFeatured'}}" class="noLink {{#if selected 'Speakers'}}active{{/if}}">
          Speakers
        </a></li> -->
        <!-- <li><a href="{{pathFor route='performers'}}" class="noLink {{#if selected 'Performers'}}active{{/if}}">
          Performers
        </a></li> -->
      </ul>
    </li>


    <!-- <li>
      <a href="{{pathFor route='watch'}}" class="noLink {{#if selected 'Watch'}}active{{/if}}">
        Watch
      </a>
    </li> -->
    <li><a href="{{pathFor route='live'}}" class="noLink {{#if selected 'Simulcast'}}active{{/if}}">
      Watch Live
    </a></li>
    <li>
      <a href="{{pathFor route='events'}}" class="noLink {{#if selected 'Events'}}active{{/if}}">
        Events
      </a>
    </li>

    <li>
      <a href="{{pathFor route='news'}}" class="noLink {{#if selected 'News'}}active{{/if}}">
        News
      </a>
      <ul>
        <li><a href="{{pathFor route='media'}}" class="noLink {{#if selected 'Media'}}active{{/if}}">
          Media
        </a></li>
      </ul>
    </li>
    <!-- <li>
      <a href="{{pathFor route='posts.show' _id='GKnjDaetPPvBjotLk'}}" class="noLink {{#if selected 'Media'}}active{{/if}}">
        Media
      </a>
    </li> -->
    <li>
      <span>Initiatives</span>
      <ul>
        <li><a href="{{pathFor route='toasted'}}" class="noLink {{#if selected 'Toasted'}}active{{/if}}">
          ToastED
        </a></li>
      </ul>
    </li>
    <li>
      <span>About</span>
      <ul>
        <li><a href="{{pathFor route='sponsors'}}" class="noLink {{#if selected 'Sponsors'}}active{{/if}}">
          Sponsors
        </a></li>
        <li><a href="{{pathFor route='team'}}" class="noLink {{#if selected 'Team'}}active{{/if}}">
          Team
        </a></li>
      </ul>
    </li>
    <li>
      <a href="{{pathFor route='contact'}}" class="noLink {{#if selected 'Contact'}}active{{/if}}">
        Contact
      </a>
    </li>
  </ul>
</template>

<template name="singlePage">
  {{> flashMessages}}
  {{> metaData}}
  {{#if currentUser}}
    {{> adminMenu}}
  {{else}}
    <div class="loginButtons">{{> loginButtons}}</div>
  {{/if}}
  <div class="singlePage animated bounceInUp">
    <div class="content">
    <img src="/images/logo.png" class="pull-left logo" >
  <div class="clearfix"></div>
      {{> yield }}
    </div>
  </div>
  {{> footer}}
</template>

<template name="metaData">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fontastic.s3.amazonaws.com/KMscZPbco5cxLZSpmnpaA7/icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="fragment" content="!">
    <!-- <script>
      ChatraID = 'KvcYsyXSBbANETK6M';
      (function(d, w, c) {
          var n = d.getElementsByTagName('script')[0],
              s = d.createElement('script');
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          s.async = true;
          s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
              + '//chat.chatra.io/chatra.js';
          n.parentNode.insertBefore(s, n);
      })(document, window, 'Chatra');
    </script> -->
</template>

<template name="scriptsLoadAfter">

</template>

<template name="adminMenu">
  <nav class="adminMenu animated fadeIn">
      <div class="menuToggle">
        <i class="icon-setting-gear"> </i>Manage <i class="icon-arrow-65 dropDownArrow"></i>
      </div>
      <div class="dropDown animated fadeInRight">
        <ul>
          {{#if userIsVerified}}
            <li><a href="/manage/speakers">Speakers</a></li>
            <li><a href="/manage/categories">Categories</a></li>
            <li><a href="/manage/talks/new">Add Talk</a></li>
          {{else}}
          <p>You need to verify your email address before you can administer this website.</p>
            <li><a class="resendVerificationEmail">Resend verification email</a></li>
          {{/if}}
          <li><a class="logout">Logout</a></li>
        </ul>
      </div>
      {{#if taskRemaining}}
      <div class="tasks">
        {{#if userIsVerified}}
          You have a new task.
          <ul>
            <li class="voteLink">
              {{#if taskRemaining}}<i class="icon-full-moon"></i>{{else}}<i class="icon-check-circle-2"></i>{{/if}} Vote for 3 speakers
            </li>
          </ul>
          {{#if taskRemaining}}
          <small>Look through the speakers. Choose three and vote for them.</small>
          {{else}}
            <small><strong>Tip:</strong> You can "unvote" for a speaker by selecting the vote button again.</small>
          {{/if}}
          <hr>
          <p>Votes left <strong>{{votes}}</strong></p>
        {{else}}
        <ul>
          <li class="resendVerificationEmail">
            <i class="icon-full-moon"></i> Click here to verify your email
          </li>
        </ul>
        <small>Without verifying your email we cannot let you access any admin functionality.</small>
         {{/if}}
      </div>
      {{/if}}
  </nav>
</template>

<template name="footer">
  <div class="footer">
    <a href="{{pathFor route='humans'}}" class="noLink">
      <div class="built-with-love">
        Built with <i class="icon-heart-1 red"></i> and lots of <i class="icon-cup-2"></i> in Cape Town
      </div>
    </a>
      <div class="clearfix"></div>

      <div class="row copyright">
        <div class="col-md-8">
          <p>TEDxCT © 2016. This independent TEDx event is operated under license from TED.</p>
        </div>
        
        <div class="col-md-4">
          <a href="http://old.tedxcapetown.org" class="link" target="_blank">Looking for the old website?</a>
        </div>
      </div>
      <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>


  {{#if currentUser}}
    <a href="{{pathFor route='account'}}" class="noLink {{#if selected 'Profile'}}active{{/if}}">
      <i class="icon-profile"></i>
    </a>
  {{else}}
    <a href="{{pathFor route='login'}}" class="noLink {{#if selected 'Profile'}}active{{/if}}">
      Login
    </a>
  {{/if}}
  </div>

</template>
