<template name="home">
  <a href="{{pathFor route='watch'}}"><img class="full-width red animated fadeIn" src="https://d15h8y58yhffbd.cloudfront.net/api/file/hDCOi7SOQ3G5gHdVBPVH"></a>
  <div class="container-fluid">
    <hr class="space">
    <div class="row">
      <div class="col-md-4">
        <a href="{{pathFor route='posts.show.event' _id='wELwWASoZkneCjj6E'}}" class="noLink">
        <div class="featured-cta">
          <div class="row">
            <div class="col-md-10">
              <h4>2015 Event Info</h4>
              <p>Check out the event information and speaker lineup!</p>
            </div>
            <div class="col-md-2">
              <i class="icon-arrow-68 cta-caret"></i>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4">
        <a href="{{pathFor route='news'}}" class="noLink">
        <div class="featured-cta">
          <div class="row">
            <div class="col-md-10">
              <h4>Latest News</h4>
              <p>See our latest news articles to catch up on what we're up to.</p>
            </div>
            <div class="col-md-2">
              <i class="icon-arrow-68 cta-caret"></i>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4">
        <a href="{{pathFor route='sponsors'}}" class="noLink">
          <div class="featured-cta link sponsor">
            <div class="row">
              <div class="col-md-10">
                <h4>Our Sponsors</h4>
                <p>Our sponsors help us reach you and make our events possible.</p>
              </div>
              <div class="col-md-2">
                <i class="icon-arrow-68 cta-caret"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
      <hr class="dashed">
  <h1>Featured Talks</h1>
  {{> videos this}}
</div>

  <a href="https://www.quicket.co.za/events/10587-tedx-cape-town-2015-open-access-control/#/preregistration" target="_blank" class="noLink">
      <img class="full-width" src="/images/banners/tickets.png">
  </a>
  <div class="container-fluid">
  <hr class="no-line">
  <a href="/sponsors" class="noLink"><h1>Sponsors</h1></a>
    {{> sponsors}}
  </div>
</template>
