<template name="contact">
  <div class="container-fluid">

    <h1>Get in Touch with Us</h1>

    <div class="row">
      <div class="col-md-12">

        <p><a href="{{pathFor route='newsletter'}}">Sign up for our newsletter</a></p>

        <h2>Need to get in touch?</h2>
        <ul>
          <li><strong>Ticket queries</strong>:
            <a href="mailto:tickets@tedxcapetown.org">tickets@tedxcapetown.org</a></li>
          <li><strong>Media / Media partnerships</strong>:
            <a href="mailto:media@tedxcapetown.org">media@tedxcapetown.org</a></li>
          <li><strong>Speaker applications</strong>:
            <a href="mailto:speakers@tedxcapetown.org">speakers@tedxcapetown.org</a></li>
          <li><strong>Sponsorship</strong>:
            <a href="mailto:sponsor@tedxcapetown.org">sponsor@tedxcapetown.org</a></li>
          <li><strong>General</strong>:
            <a href="mailto:hello@tedxcapetown.org">hello@tedxcapetown.org</a></li>
        </ul>

      </div>
    </div>
  </div>
</template>
