<template name="humans">
  <div class="container-fluid red centered">
    <h1><i class="icon-heart-1"></i></h1>
    <h1>Built with Love</h1>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p>This website project has been ongoing for a few months. Many many hours and lines of code later the site was launched just in time for the 2015 TEDxCapeTown event.</p>
        <p>This website and platform is open-source and is available for all other TEDx chapters to use.</p>
        <p>The website is built on our favorite website framework Meteor JS.</p>
        <hr class="no-line">
        <a href="https://github.com/TEDxCT/tedx_web" target="_blank" class="btn btn-outline btn-icon">
          <i class="icon-fontawesome-webfont"></i> <span class="text">See on GitHub</span>
        </a>
        <hr class="no-line">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container-fluid">
    <hr class="no-line extra-space-top">
    <h3>Carla Goldstein</h3>
  </div>
  <div class="row">
    <div class="col-md-5">
      <img src="/images/photos/carla.jpg" class="full-width">
    </div>
    <div class="col-md-6">
      <p>Carla is an expert at turning coffee and Radiohead into software. She is very good at breaking things, but luckily is also very good at fixing them. Carla spends her time either working at Equal Education coding
      the future or working on mobile applications.</p>
      <p>She has veteran status at TEDxCapeTown and as such could boss everyone around, however this she (mostly) refused to do.</p>
      <ul class="social-links">
        <li><a href="https://github.com/carlag" target="_blank"><i class="icon-fontawesome-webfont"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <hr class="no-line extra-space-top">
      <h3>Craig Wattrus</h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <p>Craig works best when everyone else is sleeping. Unlike Cinderella midnight is just when he gets started.</p>
      <p>By day (when not asleep) Craig works at a startup called Yoco in Cape Town. Craig heads up design for this cool company. By night Craig pours over this website making sure it looks beautiful & works. Unsuprisingly Craig is addicted to coffee.</p>
      <ul class="social-links">
        <li><a href="https://github.com/cwattrus" target="_blank"><i class="icon-fontawesome-webfont"></i></a></li>
        <li><a href="https://www.twitter.com/cwattrus" target="_blank"><i class="icon-social-twitter"></i></a></li>
        <li><a href="https://www.wattrus.co.za" target="_blank"><i class="icon-link"></i></a></li>
      </ul>
    </div>
    <div class="col-md-5">
        <img src="/images/photos/craig.jpg" class="full-width">
    </div>
  </div>
</template>
