<template name="performers">
  <div class="container-fluid">
    <h1>Performers</h1>

    <div class="row">
      <div class="col-md-12">

        <article data-type="performer">
          <img src="/images/performers/ian_sklarsky.jpg">
          <h2>Ian Sklarsky</h2>
          <p class="subtitle">Live demo</p>
          <p>Find me on 
            <a href="https://www.facebook.com/IanSklarskyArt/ ">Facebook</a>, 
            <a href="https://twitter.com/Directorian">Twitter</a>, 
            <a href="https://www.instagram.com/thesingleline/">Instagram</a>, 
            <a href="www.iansklarsky.com">Our website</a>
          </p>
        </article>

        <article data-type="performer">
          <img src="/images/performers/thom_dreyer.jpg">
          <h2>Thom Dreyer</h2>
        </article>

        <article data-type="performer">
          <img src="/images/performers/the_sweet_resistance.jpg">
          <h2>The Sweet Resistance</h2>
          <p>Find us on 
            <a href="https://www.facebook.com/thesweetresistance/">Facebook</a>, 
            <a href="https://twitter.com/TSRband1">Twitter</a>, 
            <a href="https://www.instagram.com/thesweetresistance/">Instagram</a>
          </p>
        </article>

        <article data-type="performer">
          <img src="/images/performers/mel_mwevi.jpg">
          <h2>Mel Mwevi</h2>
          <p class="subtitle">Poem</p>
          <p>Find me on 
            <a href="https://www.facebook.com/melmwevi/">Facebook</a>, 
            <a href="https://twitter.com/MelMwevi">Twitter</a>, 
            <a href="https://soundcloud.com/mel-mwevi">SoundCloud</a>

          </p>
        </article>

        <article data-type="performer">
          <img src="/images/performers/betsie_beers.jpg">
          <h2>The Betsie Beers</h2>
          <p>Find us on 
            <a href="https://www.facebook.com/thebetsiebeers/">Facebook</a>, 
            <a href="https://www.instagram.com/thebetsiebeers/">Instagram</a>
          </p>
        </article>

      </div>
    </div>
  </div>
</template>
