<!-- 5QBcw6sj2H9dySP9L -->
<template name="speakersCurrent">
  {{#if userIsInRole 'admin'}}
  <div class="container-fluid red toolbar">
    <a href="{{ pathFor 'speakers.new'}}" class="tag">
      <i class="icon-tags"></i>
      New Speaker
    </a>
    <h1 class="pull-left">Tools</h1>
  </div>
  {{/if}}

  <div class="container-fluid ">
    {{#if userIsInRole 'admin'}}
      <a href="{{pathFor route='speakers'}}" class="btn">Admin speakers</a>
    {{/if}}

    <div id="theGrid" class="main animated fadeIn">
      <section class="grid">
        {{#each speakers}}
          {{> speakerTile this}}
        {{/each}}
      </section>
    </div>

  </div>
</template>