<template name="sponsor">
  <div class="container-fluid text-page">
    <h1>Become a Sponsor</h1>
    <p>
      TEDxCapeTown was created on the concept of ‘building ecosystems not empires’, it is our aim to connect and inspire a community of change makers and action takers in the spirit of ideas worth spreading, as reflected in the core ethos of TED. (‘x’ in TEDx is for an independently organized event)
    </p>
    <p>
      If you feel that your company understands, values and works within a similar vision and approach, and you would like to support TEDxCapeTown in developing this community of change makers and action takers – the entrepreneurs, the dreamers, the thinkers, the doers, and thereby engaging with inspired citizens and providing a catalyst for inspiration and a platform for collaboration, please get in touch!
    </p>
    <p>
      We understand that you need to ensure that your company and its employees, board and brand proposition are reflected in the exchange, thus receiving maximum value for your sponsorship. We really do. As such, the TEDxCapeTown team has been driving innovative ways for our partners to access synergistic exposure and return on investment.
    </p>
    <p>
      We have outlined some of the key opportunities and value-add which we would be able to offer you as our HEADLINE SPONSOR in the lead up to the 2013 event and beyond.
    </p>
    <hr class="red dashed">
    <h3>OPPORTUNITY</h3>

    <ul>
      <li>Media and online exposure</li>
      <li>Unique networking opportunities</li>
      <li>Visual event presence and brand exposure</li>
      <li>On-the-day brand acknowledgement as main sponsor.</li>
      <li>Brand association with TEDx</li>
      <li>Be directly associated with one of South Africa’s most sought after events, and communities of action takers and change makers. Join us in creating inspired community.</li>
    </ul>
    <p>
      TEDxCape Town is re-defining the model of citizen engagement by not only spreading good ideas, but building a platform for collaboration and community, and inspiring action. TEDxCapeTown has magically attracted some of the most amazing minds across the spectrum of tech, media, strategy, logistics and beyond – to create authentic, volunteer-run events and community-building initiatives and platforms.
    </p>
    <hr class="red dashed">
    <h3>Ideas + Action = Engagement</h3>

    With your help, we’d like to be able to further support and sustain the TEDxCapeTown community by offering a more expansive platform, beyond the annual events, in which the community can grow its collaborations, connections and integrated ecosystems. We believe it is more important than ever to invest in our local communities, to support innovation and the power of ideas.

    Do you want to leverage ideas, technologies, design, and education to help create a better future, a better South Africa, a better world? Show that you believe in bringing together corporations and individuals who want to be change agents for remarkable thinking, ideas and action by sponsoring TEDxCapeTown, a model for building community and starting conversations.

    Contact us at info@tedxcapetown.org, or via twitter.
  </div>
</template>
