<template name="styles-samples">
  <div class="container-fluid">
    <h1>Styles Samples</h1>
    <div class="row">
      <div class="col-md-12">

      <style type="text/css">
        .heading {
          background: grey;
          color: white;
          margin-top: 2em;
          margin-bottom: 1em;
          padding: 0.2em 0.5em;
          font-size: 0.85em;
          text-transform: uppercase;
        }
      </style>

      <p>This page demonstrates what standard HTML elements look like, as styled by the website's CSS. The styling is powered by Bootstrap.</p>

        <!-- <p><a>View our PressKit</a></p> -->
        
        <!-- <h2>Branding</h2>

        <div class="heading">
            Colours: primary, secondary, and others
        </div>
        <div class="colour-scheme-bar">
          <span class="colour primary"></span>
          <span class="colour secondary"></span>
          <span class="colour bg"></span>
          <span class="colour bg-alt"></span>
          <span class="colour text"></span>
        </div> -->


        <div class="heading">
            Heading level 2, 3, and 4
        </div>
        <h2>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h2>
        <h3>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h3>
        <h4>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h4>


        <div class="heading">
            Paragraph
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque.
        Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus
        semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia arcu.
        Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.</p>


        <div class="heading">
            Inline text
        </div>
        <div>
            Curabitur <a href="#">link</a> semper <strong>bold / strong</strong> sit.&nbsp;Lorem <em>italic / emphasis</em>
            sit. Lorem <span style="text-decoration: underline;">underlined</span>
            sit. Lorem <span style="text-decoration: line-through;">scrike-through
            </span> sit. Lorem <abbr title="abbreviation">abbreviation</abbr>
            <acronym title="acronym">acronym</acronym> sit.
        </div>


        <div class="heading">
            Label and mark
        </div>
        <div>
            <span class="label">label</span>new
        </div>


        <div class="heading">
            Buttons: standard, flat, and primary
        </div>
        <div>
          <p><code>&lt;a class="btn"&gt;</code></p>
            <a class="btn btn-default" href="http://localhost/Current/CasaBio/"><span>button</span></a> 
            <a class="btn btn-link" href="http://localhost/Current/CasaBio/"><span>flat button</span></a> 
            <a class="btn btn-primary" href="http://localhost/Current/CasaBio/"><span>primary button</span></a>
        </div>


        <div class="heading">
            Breadcrumb bar
        </div>
        <nav class="breadcrumb" role="navigation">
          <ol class="breadcrumb">
              <li>
                  <a href="#0">Bread</a><!--  › -->
              </li>
              <li>
                  <a href="#0">Crumbs</a>
              </li>
              <li class="active">Bar</li>
          </ol>
        </nav>


        <div class="heading">
            Pager 
        </div>
        <p><code>&lt;ul class="pager"&gt;</code></p>
        <ul class="pager">
            <li class="pager-first first">
                <a href="http://localhost/Current/CasaBio/" title="Go to first page">« first</a>
            </li>
            <li class="pager-previous">
                <a href="http://localhost/Current/CasaBio/" title="Go to previous page">‹ previous</a>
            </li>
            <li class="pager-item">
                <a href="http://localhost/Current/CasaBio/" title="Go to page 1">1</a>
            </li>
            <li class="pager-current active">2</li>
            <li class="pager-item">
                <a href="http://localhost/Current/CasaBio/" title="Go to page 3">3</a>
            </li>
            <li class="pager-next">
                <a href="http://localhost/Current/CasaBio/" title="Go to next page">next ›</a>
            </li>
            <li class="pager-last last">
                <a href="http://localhost/Current/CasaBio/" title="Go to last page">last »</a>
            </li>
        </ul>
        <p><code>&lt;ul class="pagination"&gt;</code> (Bootstrap)</p>
        <ul class="pagination">
            <li class="pager-first first">
                <a href="http://localhost/Current/CasaBio/" title="Go to first page">« first</a>
            </li>
            <li class="pager-previous">
                <a href="http://localhost/Current/CasaBio/" title="Go to previous page">‹ previous</a>
            </li>
            <li class="pager-item">
                <a href="http://localhost/Current/CasaBio/" title="Go to page 1">1</a>
            </li>
            <li class="pager-current active"><a>2</a></li>
            <li class="pager-item">
                <a href="http://localhost/Current/CasaBio/" title="Go to page 3">3</a>
            </li>
            <li class="pager-next">
                <a href="http://localhost/Current/CasaBio/" title="Go to next page">next ›</a>
            </li>
            <li class="pager-last last">
                <a href="http://localhost/Current/CasaBio/" title="Go to last page">last »</a>
            </li>
        </ul>


        <div class="heading">
            Image
        </div>
        <div><img alt="100×100" src="http://placehold.it/100x100&amp;text=Image" title="100×100"></div>


        <div class="heading">
            Blockquote
        </div>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque.
            Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus
            semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia
            arcu. Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.
        </blockquote>


        <div class="heading">
            Table
        </div>
        <code>&lt;table class="table"&gt;</code>
        <table class="table">
            <thead>
                <tr>
                    <th>Header row TH</th>
                    <th>Header row TH</th>
                    <th>Header row TH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First column</td>
                    <td>text</td>
                    <td>text</td>
                </tr>
                <tr>
                    <th colspan="3">Sub-header th</th>
                </tr>
                <tr>
                    <td>text</td>
                    <td>text</td>
                    <td>text</td>
                </tr>
                <tr>
                    <td>text</td>
                    <td>text</td>
                    <td>text</td>
                </tr>
            </tbody>
        </table>


        <div class="heading">
            List: unordered
        </div>
        <ul>
            <li>Fusce non urna. Nam id sem sit amet nulla risus sed leo. Etiam
            bibendum, ante vel sodales vulputate, enim ante varius ipsum, sit amet
            laoreet risus purus non lacus. Curabitur ullamcorper semper lectus.
            Quisque fermentum nulla eget nisi.</li>
            <li>sem volutpat elementum. Nunc tempus, enim iaculis nulla risus sed
            leo. Etiam bibendum, ante vel sodales vulputate, enim ante varius
            ipsum, sit amet laoreet risus purus non lacus. Curabitur ullamcorper
            semper lectus. Quisque fermentum.</li>
            <li>viverra varius, nulla libero volutpat felis, non</li>
        </ul>


        <div class="heading">
            List: ordered
        </div>
        <ol>
            <li>Fusce non urna. Nam id sem sit amet</li>
            <li>sem volutpat elementum. Nunc tempus, enim iaculis</li>
            <li>viverra varius, nulla libero volutpat felis, non</li>
        </ol>


        <!-- <div class="heading">
            Messages: status, warning, and error
        </div>
        <div class="messages-status messages status">
            <h2 class="element-invisible">Status message</h2>Status message
        </div>
        <div class="messages-warning messages warning">
            <h2 class="element-invisible">Warning message</h2>Warning message
        </div>
        <div class="messages-error messages error">
            <h2 class="element-invisible">Error message</h2>Error message
        </div> -->


        <div class="heading">
            Horizontal ruled line
        </div>
        <hr>


        <div class="heading">
            Form
        </div>
        <form action="http://localhost/Current/CasaBio/" class="grid_6" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="name">Name</label> <input class="input_full" id="name" name="name" type="text">
            </div>
            <div class="form-group">
                <label for="email">Email</label> <input class="input_full" id="email" name="email" type="email">
            </div>
            <div class="form-group">
                <label for="cc"><abbr title="Courtesy Copy">CC</abbr></label>
                <input id="cc" name="cc" value="1" type="checkbox"> <label for="cc">Send me a copy of this email</label>
            </div>
            <div class="form-group">
                <label for="tel">Phone</label> <input class="input_full" id="tel" name="tel" type="tel">
            </div>
            <div class="form-group">
                <label for="url">URL</label> <input class="input_full" id="url" name="url" type="text">
            </div>
            <div class="form-group">
                <label for="budget">Budget</label> <select class="input_full" id="budget" name="budget">
                    <option value="">
                        Ballpark estimate...
                    </option>
                    <optgroup label="Small">
                        <option value="1k_2k">
                            $1,000 to 2,000
                        </option>
                        <option value="2k_3k">
                            $2,000 to 3,000
                        </option>
                        <option value="3k_4k">
                            $3,000 to 4,000
                        </option>
                        <option value="4k_5k">
                            $4,000 to 5,000
                        </option>
                        <option value="5k_6k">
                            $5,000 to 6,000
                        </option>
                    </optgroup>
                    <optgroup label="Medium">
                        <option value="6k_7k">
                            $6,000 to 7,000
                        </option>
                        <option value="7k_8k">
                            $7,000 to 8,000
                        </option>
                        <option value="8k_9k">
                            $8,000 to 9,000
                        </option>
                        <option value="9k_1k0">
                            $9,000 to 10,000
                        </option>
                        <option value="10k_11k">
                            $10,000 to 11,000
                        </option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label for="priority_normal">Priority</label> <input id="priority_urgent" name="priority" value="Urgent" type="radio">
                <label for="priority_urgent">Urgent</label> &nbsp; &nbsp;
                <input checked="checked" id="priority_normal" name="priority" value="Normal" type="radio"> <label for="priority_normal">Normal</label>
                &nbsp; &nbsp; <input id="priority_low" name="priority" value="Low" type="radio"> <label for="priority_low"><abbr title="Request For Proposal">RFP</abbr> <span class="mute">(low)</span></label>
            </div>
            <div class="form-group">
                <label for="description">Project details</label>
                <textarea id="description" name="description" rows="4"></textarea>
            </div>
            <p class="clearfix">&nbsp;</p>
        </form>



      </div>
    </div>
  </div>
</template>
