<template name="toasted">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
        <div class="container-fluid">
    
          <h1 class="title">ToasTED</h1>
          <hr class="dashed">

          <img unique="NkePuu7Rnb" class="full-width" src="https://www.filepicker.io/api/file/B9KsOC7Q5W0Snlxosrht">

          <h4>What we aim to achieve with ToastED</h4>

          <p>To address the two key challenges</p>

          <ul>
            <li>1) Finding new speakers that have experience in distilling their ideas and presenting to a live audience</li>
            <li>2) Sourcing the right speaker coaches that have strong foundational training and who, once equipped with the specifics of a TEDx talk, can become great TEDx speaker coaches. </li>
          </ul>

          <p><a href="http://www.ted.com/tedx/events">TEDx events </a>and the <a href="https://www.youtube.com/watch?v=d0NHOpeczUU">TEDx community</a> are created and nurtured predominantly by an amazing and passionate group of volunteers who contribute their time and energy into creating a phonemal environment for ideas to be shared and engaged with. However, this also results in the challenge of limited time and resources of the team members. Having a pool of speaker coaches to work with is essential for creating a more resilient TEDx community.</p>

          <p>Furthermore, it is important to find the right speaker coaches for the speakers. A TEDx talk is very different to a general presentation/speech, with the speaker delving into a deep personal journey as they uncover the most important idea they want to share, and why that idea is so important. A coach is there to guide them through this profound journey; supporting, teaching and guiding the speaker until the moment they step onto the TEDx stage. What is this journey? Watch <a href="https://www.youtube.com/playlist?list=PLv1iiasH-EqWE9ptlL0BHOw-GG7o_tAbV">these </a>and <a href="https://www.youtube.com/watch?v=WwM23DQEKrs&amp;index=1&amp;list=PLv1iiasH-EqWAKzjQqi5J3tiP0JIGN2Tj">these</a>.</p>

          <p>Having a deeper pool of speaker coaches will help ensure that each speaker is paired up with the best coach for her/him and will receive support so that s/he can deliver the best possible version of their <i>idea worth spreading</i>.</p>

          <h4>How did the Toastmasters &lt;&gt; TEDx collaboration come about?</h4>

          <p>In the past we have had some amazing speakers on our stage who had also been through or were going through a Toastmasters process. It is fairly obvious when one works with speakers who have done prior public speaker training and have presented to live audiences. They are less nervous, but more importantly, they understand the value of committing and dedicating time to work on their content and the presentation thereof. Something we <b>cannot stress more for a speaker to do. </b>This understanding and development achieved from their Toastmasters speaker training exprience which made them better TEDx speakers.</p>

          <p>This year<a href="http://www.ted.com/profiles/658641"> Candice Pelser </a>and her <a href="http://tedxtablemountain.org/">TEDxTablemountain</a>  team invited some of us to their speaker coaching workshops and sessions conducted by <a href="http://tedxtablemountain.org/team/">Lee Heathfield</a>. It was here where<a href="http://tedxtablemountain.org/team/"> two wonderful coaches </a>from Toastmasters joined the TEDx process and mentored  some of the TEDxTableMountain speakers. This kind of cross-collaboration, indicative of the TEDx ethos and community produced what became the launchpad for ToastED.</p>

          <p>Candice then gathered some of the TEDx organizers in the Western Cape and with that <a href="https://www.facebook.com/TEDxUCT/">TEDxUCT</a>, <a href="http://www.tedxaims.com/">TEDxAIMS </a>and ourselves along with <a href="https://twitter.com/helloverity">Verity Price</a> of Toastmasters kicked off what we hope to be a succesful initiative. We look forward to seeing where this journey leads us!</p>

          <h4>What next?</h4>

          <p>We will be hosting an information sharing session on <b>10 August @ Tsogo Sun</b>, RSVP <a href="https://docs.google.com/forms/d/e/1FAIpQLScpurjEgTf0f-x09YGpJl6c9Fz81kYyZIgFnBTyDzkW6rb4uA/viewform">here</a></p>

          <p>If you can't make that date or reading this after 10 August - Keep in touch with us on <a href="https://twitter.com/tedxcapetown">Twitter</a> / <u><a href="https://www.facebook.com/TE">Facebook </a></u>or <a href="http://www.tedxcapetown.org/newsletter">signup to our newletter </a>and we'll notify you about the next steps forward.</p>    

          <img unique="Vk7Du_7C3-" class="full-width" src="https://www.filepicker.io/api/file/dA6HW87VTIC0fKINbunu">

          <p><b>Note:</b> ToastED is not a TED initiative or a TEDx event. It is an independent project to support the regional TEDx community in collaboration with TEDxTM, TEDxCT, TEDxAIMS, TEDxUCT and Toastmasters</p>

          <!-- <p><img unique="EkbcDyb5s-" class="full-width" src="https://www.filepicker.io/api/file/aRF0UqvcSAStOp3Ao3C9"></p> -->
        </div>
      </div>
    </div>
  </div>
</template>
