<template name="login">
  <div class="container-fluid red centered">
    <h3>Sign in to your TEDx Account.</h3>
    <p>Enjoy an enhanced experience on the website as well as at events with a TEDx Cape Town account.</p>
    <div class="loginForm">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control email" placeholder="Enter email">
          <span class="help-block hidden login-error">Check your email address</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control password" placeholder="Password">
          <span class="help-block hidden login-error">Try typing this again</span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              Forgot your password?
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-primary login">Sign in</button>
        <p>
          Or, <a href="/register" class="link">create a profile</a>
        </p>
      </form>
    </div>
  </div>
</template>

<template name="manage">
  <div class="container-fluid red centered">
    {{#if userIsVerified}}
    <ul class="toolbar">
      <li class="logout">
        <i class="icon-tags"></i>
        Log out
      </li>
    </ul>
    {{/if}}
    <h1>Logged in as {{username}}</h1>
  </div>

  <div class="container-fluid centered">
    {{#if userIsVerified}}
    <h1>What would you like to do?</h1>
    <div class="row">
        <div class=".col-xs-6 col-md-4">
          <a href="{{pathFor route='speakers'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-profile"></i>
              <div>Manage Speakers</div>
            </div>
          </a>
        </div>
        <div class=".col-xs-6 col-md-4">
          <div class="manage_tile">
            <i class="icon-business-chart-2"></i>
            <div><a href="/manage/categories">Analyse Categories</a></div>
            </div>
          </div>
        <div class=".col-xs-6 col-md-4">
          <a href="{{pathFor route='posts.new'}}" class="noLink">
            <div class="manage_tile">
              <i class="icon-profile"></i>
              <div>Add Talk</div>
            </div>
          </a>
        </div>
      </div>
      {{else}}
      <h1>You need to verify your email address before you can administer this website.</h1>
        <div>
          <button type="button" class="btn btn-primary resendVerificationEmail">Resend verification email</button>
        </div>

      {{/if}}
      <br/>

</div>
</template>


<template name="createUser">
  <h4>TEDxCapeTown Profiles</h4>
  <h1>Create your account</h1>
  <p>Enter your sign in details to access your TEDxCapeTown account. If you're part of the team please make sure you log in with your TEDx email address. </p>
  <div class="loginForm">
    <form>
      <div class="form-group">
        <label for="firstName">Your first name</label>
        <input type="text" class="form-control firstName" placeholder="Enter first name">
        <span class="help-block hidden error error-first-name">Please check this is right</span>
      </div>
      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input type="text" class="form-control lastName" placeholder="Enter last name">
        <span class="help-block hidden error error-last-name">Please check this is right</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control email" placeholder="Enter email">
        <span class="help-block hidden error error-email">Check your email address</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control password" placeholder="Password">
        <span class="help-block hidden error error-password">Try typing this again</span>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="subscribe"> Sign me up for updates from TEDxCapeTown
        </label>
      </div>
      <button type="button" class="btn btn-primary createUser">Create account</button>
      <p>
        Or, <a href="" class="link">login</a>
      </p>
    </form>
  </div>
</template>
