<template name="login">
  <div class="container-fluid red centered">
    <h3>Sign in to your TEDx Account.</h3>
    <p>Enjoy an enhanced experience on the website as well as at events with a TEDx Cape Town account.</p>
    <div class="loginForm">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control email" placeholder="Enter email">
          <span class="help-block hidden error">Check your email address</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control password" placeholder="Password">
          <span class="help-block hidden error">Try typing this again</span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              Forgot your password?
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-primary login">Sign in</button>
        <p>
          Or, <a href="/register" class="link">create a profile</a>
        </p>
      </form>
    </div>
  </div>
</template>

<template name="manage">
  <div class="container-fluid red centered">
    <h1>Logged in as {{username}}</h1>
  </div>
  <div class="container-fluid centered">
    <h1>What would you like to do?</h1>
    <ul>
      {{#if userIsVerified}}
        <li><a href="/manage/speakers">Speakers</a></li>
        <li><a href="/manage/categories">Categories</a></li>
        <li><a href="/manage/talks/new">Add Talk</a></li>
      {{else}}
      <p>You need to verify your email address before you can administer this website.</p>
        <li><a class="resendVerificationEmail">Resend verification email</a></li>
      {{/if}}
      <li><a class="logout">Logout</a></li>
    </ul>
    <button type="button" class="btn btn-primary logout">Log Out</button>
</div>
</template>


<template name="createUser">
  <h4>TEDxCapeTown Profiles</h4>
  <h1>Create your account</h1>
  <p>Enter your sign in details to access your TEDxCapeTown account. If you're part of the team please make sure you log in with your TEDx email address. </p>
  <div class="loginForm">
    <form>
      <div class="form-group">
        <label for="firstName">Your first name</label>
        <input type="text" class="form-control firstName" placeholder="Enter first name">
        <span class="help-block hidden error error-first-name">Please check this is right</span>
      </div>
      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input type="text" class="form-control lastName" placeholder="Enter last name">
        <span class="help-block hidden error error-last-name">Please check this is right</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control email" placeholder="Enter email">
        <span class="help-block hidden error error-email">Check your email address</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control password" placeholder="Password">
        <span class="help-block hidden error error-password">Try typing this again</span>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="subscribe"> Sign me up for updates from TEDxCapeTown
        </label>
      </div>
      <button type="button" class="btn btn-primary createUser">Create account</button>
      <p>
        Or, <a href="" class="link">login</a>
      </p>
    </form>
  </div>
</template>
