<template name="feedback">
{{> overlay}}
<div class="overlay-content animated bounceInUp">
  <div class="sheet form-sheet" >
  <h3>What do you think?</h3>
      <p>Let us know what made you happy, sad or confused.</p>
      <div class="sheet-content">
        <div class="form">
              <label>Name</label>
            <input type="text"  placeholder="Full name..." />
              <label>Email</label>
            <input type="text"  placeholder="Email address..." />
            <label>Comment</label>
            <textarea rows="4"></textarea>
          </div>
        </div>
        <div class="sheet-actions">
          <button class="btn btn-flat btn-primary save">Send</button>
          <button class="btn btn-flat cancel">Close</button>
        </div>
  </div>
</div>
</template>

