<template name="events">
  {{#if userIsInRole 'member'}}
  <div class="container-fluid red toolbar">
      <a href="" class="tag newEvent">
        <i class="icon-tags"></i>
        New Event
      </a>
      <h1 class="pull-left">Tools</h1>
  </div>
  {{/if}}
  <div class="container-fluid centered">
    <h2 class="title">Events</h2>
    <div id="theGrid" class="main animated fadeIn">
      <section class="grid">
      {{#each featured}}
        {{> eventTile this}}
      {{/each}}
      {{#each latest}}
        {{> eventTile this}}
      {{/each}}
      </section>
    </div>
    <hr class="dashed">
    <h1>Our Sponsors</h1>
    {{> sponsors}}
  </div>
</template>

<!-- <template name="eventTile">
  <a href="{{pathFor route='posts.show.event' data=this}}" class="noLink">
    <div class="eventItem">
      <div class="row">
        <div class="col-xs-3">
          <img class="eventThumbnail" src="{{eventImage}}">
        </div>
        <div class="col-xs-9">
          <h3 class="title">{{this.title}}</h3>
          <label>{{this.date}}</label>
          {{#markdown}}{{{summary}}}{{/markdown}}
        </div>
      </div>
    </div>
    </a>
</template> -->

<template name="eventTile">
  <a class="talk-tile animated fadeInUp" href="{{pathFor route='posts.show.event' data=this}}">
    <!-- {{#if this.featured}} -->
    <div class="corner-ribbon bottom-right sticky black shadow"><i class="icon-heart-1"></i> Featured</div>
    <!-- {{/if}} -->
  <div class="top" style="background: url({{eventImage}}); background-size: cover;">

  </div>
    <div class="talk-title">{{{this.title}}}</div>
    <div class="talk-speaker">{{this.date}}</div>
    <div class="bottom">
      <!-- <span>{{this.speaker.name}}</span> -->
      {{{summary}}}
    </div>
    <div class="actions">
      <button class="btn"><i class="icon-calendar-2"></i> <span>View event</span></button>
      <!-- <span class="pull-right action"><i class="icon-ticket-1"></i></span> -->
    </div>
  </a>
</template>


<template name="featuredEventTile">
  <a href="{{pathFor route='posts.show.event' data=this}}" class="noLink">
    <div class="featuredEventItem">
      <div class="row">
        <div class="col-xs-3">
          <img class="eventThumbnail" src="{{eventImage}}">
        </div>
        <div class="col-xs-9">
          <h3 class="title">{{this.title}}</h3>
          <label>{{this.date}}</label>
          {{#markdown}}{{{summary}}}{{/markdown}}
        </div>
      </div>
    </div>
    </a>
</template>


<template name="showEvent">
  {{#if currentUser}}
    <div class="container-fluid red toolbar">
        <a href="{{pathFor route='posts.edit.event' data=this}}" class="edit">
          <i class="icon-pencil-2"></i>
          Edit
        </a>
        <a href="#" class="delete danger">
          <i class="icon-bin-2"></i>
          Archive
        </a>
        <h1 class="pull-left">Tools</h1>
    </div>
  {{/if}}
  <div class="container-fluid">
    <div class="pageHeader">
      <div class="back-button back">
        <a href="{{pathFor route='events'}}" class="noLink">
          <i class="icon-thumbnails-1"></i>
          <span class="text">
            Back to events
          </span>
        </a>
      </div>
  </div>
    </div>
    <div class="clear"></div>
    <div class="container-fluid">
      <article class="reader">
          {{> viewer this}}
        </article>
          {{#if shouldShowSession this.session1}}
            <h2>Session 1</h2>
            {{> session this.session1}}
          {{/if}}
          {{#if shouldShowSession this.session2}}
            <h2>Session 2</h2>
            {{> session this.session2}}
          {{/if}}
          {{#if shouldShowSession this.session3}}
            <h2>Session 3</h2>
            {{> session this.session3}}
          {{/if}}
          {{#if shouldShowSession this.session4}}
            <h2>Session 4</h2>
            {{> session this.session4}}
          {{/if}}
          <h4>Share this</h4>
          <ul class="share-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Facebook.png"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&text=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&via=tedxcapetown" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Twitter.png"></a></li>
            <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Google+.png"></a></li>
            <li><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/Pinterest.png"></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F&title=&summary=&source=https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/images/flat_web_icon_set/black/LinkedIn.png"></a></li>
            <li><a href="mailto:?subject=&body=:%20https%3A%2F%2Fstaging-tedxct.herokuapp.com%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/images/flat_web_icon_set/black/Email.png"></a></li>
          </ul>
          <hr class="space extra-space-top">
          <hr class="dashed">
          <h1>Our Sponsors</h1>
          {{> sponsors}}
    </div>
</template>

<template name="session">
  <div id="theGrid" class="main animated fadeIn">
    <section class="grid speakers">
      {{#each speakers}}
        {{> speakerTile this}}
      {{/each}}
    </section>
  </div>
</template>
