<template name="freedomday">
  <h3>TEDxCapeTown</h3>
  <h1>Freedom Day 2015</h1>
  <h4>Sunday 26th April</h4>
  <p>As we celebrate freedom in South Africa this month the TEDxCapeTown team would like to invite the TEDx community to share a morning with us investigating the concept of Freedom. We will be screening inspiring talks from around the globe that are sure to get you thinking. </p>

  <p>TEDxCapeTown will showcase an interesting line-up full of great talks around the idea of all kinds of freedom.</p>

  <p>Please arrive at 09:00 to enjoy a cup of coffee and light snack with us before the first session of talks begin. </p>

  <p>Let Freedom Reign!</p>
  <a href="https://www.quicket.co.za/events/9203-tedx-cape-town-freedom-day#/">
    <div class="cta">
      <div class="circle blue animated bounceInLeft"></div>
      <div class="circle yellow animated bounceInRight"></div>
      <div class="circle red">
        Get a
        <strong>Ticket</strong>
      </div>
     </div>
   </a>
   <hr class="dashed extra-space-top">
  <h3>Details</h3>
  <div class="row">
    <div class="col-md-4">
      <h4>Address</h4>
      <p>Labia Theatre<br>
      68 Orange St, Gardens<br>
      Cape Town<br>
      South Africa<br>
      8001<br>
    </p>
    </div>
    <div class="col-md-4">
      <h4>Time & Date</h4>
      <p>Sunday 26th April<br>
        9am<br>
      </p>
      <p><small>Arrive at 09:00 to enjoy a cup of coffee and light snack with us before the first session.</small></p>
    </div>
    <div class="col-md-4">
      <h4>Tickets</h4>
      <p>RSVP above. Entry <strong>R50</strong></p>

    </div>
  </div>
</template>
