<template name="momentum">
  <hr class="space">
  <img class="full-width" src='/images/banners/tedxctwomen.png'>
  <div class="row align-left">
    <div class="col-md-4">
      <h3 class="no-space">TEDWomen 2015</h3>
      <h1 class="no-space">Momentum</h1>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <h4>Thursday 28th May</h4>
      <strong>The Space Theatre</strong>
    </div>
  </div>
  <hr class="red">

  <p>TEDxCapeTown in collaboration with TEDxTableMountain will be hosting
a live simulcast of TEDWomen 2015 “Momentum” on Thursday 28 May 2015.</p>
<p><strong>Venue:</strong> The Space Theatre, 22Seven, 60 Hout Street, Cape Town</p>
<p><strong>Date:</strong> Thursday, 28 May 2015, 17:00 - 21:30</p>
<hr class="dashed">
<h4>Momentum. Moving forward. Gaining speed. Building traction.</h4>

<p>Join us as we explore the bold ideas that create momentum in how we think, live and work.</p>
<p>to reveal the spark that inspires innovation...<br />
  to surface the challenges that come with social change, discovery and exploration...<br />
  to seduce with strategies, solutions, and new ways of seeing and believing...<br />
  to understand how global leaders sustain their work for lasting impact...<br />
  to shift the view, the debate, the competition...<br />
  to share the stories that connect us and strengthen communities...</p>

  <a href="https://www.quicket.co.za/events/9514-tedwomen-2015-momentum/#/">
    <div class="cta">
      <div class="circle blue animated bounceInLeft"></div>
      <div class="circle yellow animated bounceInRight"></div>
      <div class="circle red">
        Get a
        <strong>Ticket</strong>
      </div>
     </div>
   </a>
  </template>
