<template name="footer">
    <div class="padding-wrapper footer segment">
      <div class="ui two column stackable grid">
          <div class="middle aligned row">
              <div class="column">
                <h3>WHAT IS TEDX?</h3>
                In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxCapeTown, where x = independently organized TED event.
              </div>
              <div class="column">
                At our TEDxCapeTown event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.
              </div>
          </div>
        </div>
        <p><a href="">Visit the TEDx Cape Town Website</a> TEDxCT © 2013. This independent TEDx event is operated under license from TED.</p>

    </div>
</template>
